<h4><%=(event.e_title ? 'редактирование' : 'добавление')%> события</h4>
<ul class="nav nav-pills nav-justified" role="tablist">
	<li class="active" role="presentation"><a href="#requirements" aria-controls="requirements" role="tab" data-toggle="tab"><span class="fa fa-exclamation-triangle"></span> Требования</a></li>
	<li role="presentation"><a href="#base" aria-controls="base" role="tab" data-toggle="tab"><span class="fa fa-cog"></span> Основное</a></li>
	<li role="presentation"><a href="#locations" aria-controls="locations" role="tab" data-toggle="tab"><span class="fa fa-map-marker "></span> Адрес</a></li>
</ul>
<!-- Tab panes -->
<form class="form-horizontal eventData" action="<%=menuItem.m_path+'/'+_action%>/" method="post" id="formEvent">
	<input type="hidden" id="i_event_id" name="i_event_id" value="<%=event.e_id%>" />
	<div class="panel panel-default">
		<div class="panel-body tab-content">
			<div role="tabpanel" class="tab-pane active" id="requirements">
				<p>Ваше событие быстро смогут найти с помощью поисковых систем. <strong>Наш портал находится в ТОП3 поисковых систем:</strong> <a href="http://yandex.ru/yandsearch?text=%D0%BC%D0%BE%D1%82%D0%BE%D1%81%D0%BE%D0%B1%D1%8B%D1%82%D0%B8%D1%8F" target="_blank">Yandex</a>, <a href="https://www.google.ru/search?ie=UTF-8&amp;hl=ru&amp;q=%D0%BC%D0%BE%D1%82%D0%BE%D1%81%D0%BE%D0%B1%D1%8B%D1%82%D0%B8%D1%8F" target="_blank">Google</a>, <a href="http://go.mail.ru/search?mailru=1&amp;q=%D0%BC%D0%BE%D1%82%D0%BE%D1%81%D0%BE%D0%B1%D1%8B%D1%82%D0%B8%D1%8F" target="_blank">Mail.ru</a>, <a href="http://nova.rambler.ru/search?utm_source=nhp&amp;query=%D0%BC%D0%BE%D1%82%D0%BE%D1%81%D0%BE%D0%B1%D1%8B%D1%82%D0%B8%D1%8F" target="_blank">Rambler</a>, <a href="http://www.bing.com/search?q=%D0%BC%D0%BE%D1%82%D0%BE%D1%81%D0%BE%D0%B1%D1%8B%D1%82%D0%B8%D1%8F" target="_blank">Bing</a>.</p>
				<p>А так же мы самостоятельно и бесплатно для Вас добавляем информацию о событии в социальных сетях: ВКонтакте, Одноклассники, FaceBook, Twitter.</p>
				<ol>
					<li>Администрация оставляет за собой право редактировать данные, указанные для мотособытия.</li>
					<li>Перед добавлением мотособытия, просьба убедится в том, что информация о нем не была добавлена ранее. Это можно будет сделать с помощью календаря на странице "МотоСобытия".</li>
					<li>МотоСобытия будут удалены без предварительного оповещения если:
						<ol>
							<li>информация о таком мотособытии уже была добавлена кем-то раньше</li>
							<li>описание не относится к мото-тематике</li>
							<li>описание или прикрепленные файлы содержат нецензурную лексику</li>
						</ol>
					</li>
					<li>Заполните поля во вкладках "Когда и где?" и "Опсание"</li>
					<li>Обязательная информация:
						<ol>
							<li>Указать даты проведения. Если событие проходит в один день, заполните оба поля с одинаковой датой.</li>
							<li>Указать место, где будет проходить событие. Вы можете указать адрес в описании, тогда мы сможем помочь указать точку на карте.</li>
							<li>Если есть файлы (изображения), которые считаете нужным прикрепить к описанию, Вы сможете это сделать после того, как выволните пункт №4, и сохраните информацию. После этого сможете прикрепить файлы.</li>
						</ol>
					</li>
				</ol>
			</div>
			<div role="tabpanel" class="tab-pane" id="base">
				<div class="form-group dd_start_ts dd_end_ts">
					<label class="col-sm-2 control-label">даты проведения *</label>
					<div class="col-sm-5">
						<input type="text" class="form-control" id="dd_start_ts" name="dd_start_ts" value="<%=event.dd_start_ts%>" placeholder="дата начала события" required="required" maxlength="10" />
						<span class="help-block">дата начала события</span>
					</div>
					<div class="col-sm-5">
						<input type="text" class="form-control" id="dd_end_ts" name="dd_end_ts" value="<%=event.dd_end_ts%>" placeholder="дата завершения события" required="required" maxlength="10" />
						<span class="help-block">дата завершения события</span>
					</div>
				</div>
				<div class="form-group s_e_title">
					<label for="s_e_title" class="col-sm-2 control-label">название *</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="s_e_title" name="s_e_title" value="<%=event.e_title%>" placeholder="название события" required="required" />
					</div>
				</div>
				<div class="form-group s_tags">
					<label for="s_tags" class="col-sm-2 control-label">метки (теги)</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="s_tags" name="s_tags" value="<%=event['kw_names'].join(', ')%>" placeholder="метки (теги)" maxlength="100" />
						<span class="help-block">разделитель запятая ","</span>
					</div>
				</div>
				<div class="form-group t_e_notice">
					<label for="t_e_notice" class="col-sm-2 control-label">анонс *</label>
					<div class="col-sm-10">
						<textarea class="form-control" style="height: 100px;" id="t_e_notice" name="t_e_notice" placeholder="анонс события" required="required" ><%=event.e_notice%></textarea>
					</div>
				</div>
				<div class="form-group t_e_text">
					<label for="t_e_text" class="col-sm-2 control-label">описание *</label>
					<div class="col-sm-10">
						<textarea class="form-control" style="height: 250px;" id="t_e_text" name="t_e_text" placeholder="описание события" ><%=event.e_text%></textarea>
					</div>
				</div>
			</div>
			<div role="tabpanel" class="tab-pane" id="locations">
				<div class="form-group s_e_address">
					<label for="m_mail" class="col-sm-1 control-label">адрес *</label>
					<div class="col-sm-11">
						<input type="text" class="form-control" id="s_e_address" name="s_e_address" value="<%=event.e_address%>" placeholder="адрес" data-toggle="tooltip" data-container="body" data-placement="auto" title="<%=event.e_address%>">
						<span class="help-block">укажите адрес с помощью карты: через поиск адреса, или по клику на карте.</span>
						<input type="text" id="f_e_lat" name="f_e_lat" value="<%=event.e_latitude%>" readonly="readonly" maxlength="20" />
						<input type="text" id="f_e_lng" name="f_e_lng" value="<%=event.e_longitude%>" readonly="readonly" maxlength="20" />
					</div>
				</div>
				<div class="form-group" >
					<div class="col-sm-12" id="eventMap" style="height: 400px;"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="form-group">
		<div class="col-xs-offset-5 col-sm-offset-5 ">
			<input type="hidden" name="btn_save_event" value="main"/>
			<button type="submit" class="btn btn-primary" id="btn_edit_event" value="1" data-loading-text="сохраняю..." autocomplete="off">сохранить</button>
		</div>
	</div>
</form>
<% if (_action == 'edit'){%>
<ul>
	<li><span class="popoverHelp " id="eventHelpImages">Как добавить изображения в "описание"</span></li>
	<li><span class="popoverHelp " id="eventHelpVideo">Как добавить видео в "описание"</span></li>
</ul>
<div class="popoverContent" data-popover-for="#eventHelpImages">
	<ol>
		<li>загрузите изображения (максимум 5 файлов)</li>
		<li>установите (кликните) курсор в нужном месте "описания"</li>
		<li>кликните по нужному изображению, после чего оно добавится в "описание"</li>
		<li>в любом случае, все изображения будут показаны под описанием на странице события</li>
	</ol>
</div>
<div class="popoverContent" data-popover-for="#eventHelpVideo">
	<ol>
		<li>Скопируейте ссылку на видео</li>
		<li>Вставьте ссылку в "опоисание"</li>
		<li>В случае успешной обработки ссылки, видео добавится в "описание" вместо ссылки</li>
	</ol>
</div>
<fieldset class="col-xs-12">
	<legend><a href="javascript:void(0);" id="uploadimages"><i class="fa fa-cloud-upload" aria-hidden="true"></i> загрузить</a> Изображения</legend>
	<%- include event_images.ejs %>
</fieldset>
<%}%>
<script src="/js/mcMap.js" type="text/javascript"></script>
<script src="/js/mcTinymce.js" type="text/javascript" ></script>
<script src="/js/uploadify/jquery.uploadify.min.js" type="text/javascript" ></script>
<script src="/js/uploadify/jquery.uploadifive.min.js" type="text/javascript" ></script>
<script src="/js/uploadify/jquery.fileUpload.js" type="text/javascript"></script>
<script src="/js/jquery/mcAutoComplete.js" type="text/javascript"></script>
<script type="text/javascript">
//<!--
(function($)
{
	var eventData = MCJS["eventData"] || null;
	var images = MCJS["images"] || [];
	var imagesPreviews = MCJS["imagesPreviews"] || [];

	var $imagesWrapper = $('.imagesWrapper');

	if(imagesPreviews.length)
		preloadImages(imagesPreviews);

	$("#dd_start_ts").datepicker({ dateFormat: 'dd-mm-yy' });
	$("#dd_end_ts").datepicker({ dateFormat: 'dd-mm-yy' });

	var eTextTinymce = McTinymce(
			{
				selector: '#t_e_text'
				,body_class:"eventData"
				//разрешенные теги (с указанными атрибутами)
				,valid_elements:"dl[class|data-link],dt[class],dd[class],h1,h2,h3,h4,h5,h6,p[class|data-link],em,i[class|aria-hidden],ol,img[class|src|data-img-id|alt],ul[class],li,strong/b,a[href|class|title|target],iframe[src|class|width|height|frameborder|allowfullscreen|webkitallowfullscreen|mozallowfullscreen|scrolling]"
				//расширение для разрешенных тегов (-p - пустой абсац удалится)
				,extended_valid_elements:"-p"
				//запрещенные теги, удаляться потом сами
				//,invalid_elements: "div"
			}, "visualblocks")
			.then(function(editor)
			{
				imgTools(editor);
				return Promise.resolve(editor);
			})
			.fail(function (err)
			{
				console.log(err);
			});

	$('#formEvent').postRes({btnId: 'btn_edit_event',
		beforeSubmit: function ()
		{
			return eTextTinymce.then(function (editor)
			{
				return new Promise(function(resolve, reject)
				{
					McTinymce.save(editor, function(editor){

						return resolve(true);
					});
				});
			});
		},
		onSuccess: function($dialog, respData)
		{
			if (respData["i_event_id"]) window.location.href = '<%=menuItem.m_path%>/edit/' +respData["i_event_id"] +'/';

			return false;
		}
	});

	var mapState = {
		controls: ["zoomControl", "searchControl", "typeSelector"]
		, zoom: 15
		, type: 'yandex#hybrid'
		, behaviors: ["default"]
	};
	var mapOptions = {};
	var EventMcMap = new McMap('eventMap', {state: mapState, options: mapOptions});
	var ePlacemark;
	EventMcMap.init()
			.then(function (EventMap)
			{
				EventMap.behaviors.disable('multiTouch');
				//EventMap.behaviors.disable('scrollZoom');

				EventMap.geoObjects.removeAll();

				addPlaceMark(EventMap);

				var searchControl = EventMap.controls.get("searchControl");
				searchControl.options.set("float", "right");

				searchControl.events.add('submit', function ()
				{
					//console.log('request: ' + searchControl.getRequestString());

				}, this);
				searchControl.events.add('resultselect', function (res)
				{
					/*res.stopPropagation();
					 res.preventDefault();
					 res.stopImmediatePropagation();
					 */
					searchControl.hideResult();
					searchControl.getResult(res.get('index'))
							.then(function (result)
							{
								//console.log('result = ', result);
								//console.log('result.geometry.getCoordinates() = ', result.geometry.getCoordinates());
								//console.log("result.properties.get('name') = ", result.properties.get('name'));
								//console.log("result.properties.get('text') = ", result.properties.get('text'));

								var text = result.properties.get('text') || result.properties.get('geocoderMetaData.text');

								updPlaceMark(EventMap, text, result.geometry.getCoordinates());
							})
							.fail(function (err)
							{
								updPlaceMark(EventMap, err.message, [], err);
							});
				}, this);

				/* когда кликаем по карте */
				EventMap.events.add('click', function (event)
				{
					var coords = event.get('coords');

					//return McMap.locationByLatLng(coords[0], coords[1], 'house')
					return McMap.locationByLatLng(coords)
							.then(function(location)
							{
								updPlaceMark(EventMap, location.text, location.coords);
							})
							.fail(function(err)
							{
								updPlaceMark(EventMap, err.message, coords, err);
							});
				});

				return ymaps.vow.resolve(EventMap);
			})
			.fail(function (err)
			{
				console.log(err);
			});

	function addPlaceMark(EventMap)
	{
		var address = (eventData && eventData["e_address"] ? eventData["e_address"] : '');
		var center = [];
		if (eventData && eventData["e_latitude"] && eventData["e_longitude"])
			center = [eventData["e_latitude"], eventData["e_longitude"]];
		else
			center = EventMap.getCenter();

		var iconContent = (eventData && eventData["e_title"] ? eventData["e_title"] : 'Событие на карте');
		var contentHeader = iconContent;
		var contentBody =   '<p>Чтобы указать место расположения объекта, найдите его с помощью поисковой строки, ' +
				'или кликните мышкой по карте.</p>';

		var contentFooter = '<p><strong>Сейчас указан:</strong><br/>';
		contentFooter += (address ? address+'<br/>' : '');
		contentFooter += center.join(', ') + '</p>';

		ePlacemark = new ymaps.Placemark(
				center
				,	{
					/* Свойства*/
					iconContent: 				iconContent
					, 	iconCaption: 			iconContent
					,	balloonContentHeader:	contentHeader
					,	balloonContentBody:		contentBody
					,	balloonContentFooter:	contentFooter
				}
				,   {
					/* Опции*/
					//preset: 'islands#blueStretchyIcon' /* иконка растягивается под контент */
					//preset: 'islands#blueBicycle2Icon
					preset: 'islands#blueDotIconWithCaption'
					,	draggable: true
				});

		/* когда двигаем метку */
		ePlacemark.events.add('dragend', function (e)
		{
			var thisPlacemark = e.get('target');
			var coords = thisPlacemark.geometry.getCoordinates();

			return McMap.locationByLatLng(coords)
					.then(function (location)
					{
						updPlaceMark(EventMap, location.text, location.coords);
					})
					.fail(function(err)
					{
						updPlaceMark(EventMap, err.message, coords, err);
					});
		});

		EventMap.geoObjects.add(ePlacemark);
		EventMap.setCenter(center);
	}

	function updPlaceMark(EventMap, text, coords, err)
	{
		var contentFooter = '<p><strong>Сейчас указан:</strong><br/>' + text + '<br/>' + coords.join(', ') + '</p>';

		ePlacemark.properties.set('balloonContentFooter', contentFooter);
		ePlacemark.geometry.setCoordinates(coords);

		var $s_e_address = $('#s_e_address');
		var $f_e_lat = $('#f_e_lat');
		var $f_e_lng = $('#f_e_lng');

		if (err)
		{
			$s_e_address.val('');
			$f_e_lat.val('');
			$f_e_lng.val('');

			return;
		}

		$s_e_address.val(text);
		$s_e_address.attr('data-original-title', text);
		$f_e_lat.val(coords[0]);
		$f_e_lng.val(coords[1]);
	}

	var eventsUploadOpts = MCJS["eventsUploadOpts"] || null;

	if (eventsUploadOpts)
	{
		function prependImgToEvent(filesUploaded, $imagesContainer)
		{
			if (!filesUploaded || !filesUploaded.length)
				return;

			var i, image, html, imgSrc;

			for(i = 0; i < filesUploaded.length; i++)
			{
				image = filesUploaded[i];
				imgSrc = (image["previews"] && image["previews"]["256_192"] ? image["previews"]["256_192"] : '/_0.gif');

				var img = '<img src="'+imgSrc+'" alt="" class="image" data-img-id="'+image["ei_id"]+'"/>';

				html = '<div class="imageItem">';
				html += imgToolsHtml($(img));
				html += img;
				html += '</div>';

				$imagesContainer.prepend(html);
				images.unshift(image);
			}
		}

		eventsUploadOpts.onEnd = function()
		{
			var filesUploaded = ($(this).data('uploadFileData') ? $(this).data('uploadFileData') : null);

			$(this).parents('.modal').find('.modal-footer').show();

			prependImgToEvent(filesUploaded, $imagesWrapper.find('.imagesContainer'));

		};

		eventsUploadOpts.onStart = function()
		{
			$(this).parents('.modal').find('.modal-footer').hide();
		};

		var formEventsUpload = '<form class="form-horizontal text-center" action="<%=menuItem.m_path%>/upload"  enctype="multipart/form-data" method="post" target="null_frame" id="formEventsUpload"><input type="hidden" name="btn_save_event" value="event_image_upload"/><input type="hidden" name="s_token" value="<%=event.s_token%>"/><input type="hidden" name="i_time" value="<%=event.i_time%>"/><input type="hidden" name="e_id" value="<%=event.e_id%>"/><div class="form-group uploadWrapper"><input type="file" name="event_image_upload" id="event_image_upload" style="display: none;"/></div></form>';

		$(document).on('click', '#uploadimages', function(event)
		{
			event.preventDefault();
			event.stopPropagation();

			$('__uploadimages__').mcDialog({
				title: 'Загрузить изображения'
				, body: formEventsUpload
				, onOpen: function ($dialog)
				{
					$dialog.find('#event_image_upload').fileUpload(eventsUploadOpts);
				}
				, buttons: [
					{
						title: 'закрыть'
						,name: 'btn_upload_event_close'
						,cssClass: 'btn-danger'
						,func: {
							"click": function($mcDialog)
							{
								$mcDialog.modal('hide');
							}
						}
					}
				]
			});
		});
	}

	$imagesWrapper.find('.imagesContainer').sortable({
		update: function( event, ui)
		{
			$( ui.item[0] ).one('click', function(e){ e.stopImmediatePropagation(); } );

			var imgPos = [];
			$('.imagesContainer img.image').each(function (i, item)
			{
				imgPos.push($(item).attr("data-img-id"));
			});

			if (!imgPos.length)
				return;

			var postData = {
				"btn_save_event": "sort_img",
				"i_event_id": '<%=event["e_id"]%>',
				"ei_pos": imgPos
			};

			$.ajax({
				url: '<%=_reqBaseUrl%>',
				method: "POST",
				data: postData,
				dataType: "json"
			})
			.done(function(resData)
			{
				//console.log(resData);
			})
			.fail(function(resData)
			{
				//console.log(resData);
			});
		}
	});

	function imgToolsHtml($img)
	{
		var html = '<div class="imageTools">'
		html += '<span><a href="javascript:void(0)" data-action="delete" data-img-id="'+$img.data('imgId')+'"><i class="fa fa-fw fa-trash-o"></i> удалить</a></span>';
		html += '</div>';
		return html;
	}

	function imgTools(editor)
	{
		$imagesWrapper.find('.imageItem img').each(function(i, img)
		{
			$(this).parent().prepend(imgToolsHtml($(img)));
		});

		$(document).on('click','.imagesWrapper .imagesContainer .imageTools a', function (event)
		{
			event.preventDefault();
			event.stopPropagation();
			var $this = $(this);

			switch ($this.data('action'))
			{
				case 'delete':

					var postData = {
						"btn_save_event": "del_img",
						"i_event_id": '<%=event["e_id"]%>',
						"i_ei_id": $this.data('imgId')
					};

					$.ajax({
						url: '<%=_reqBaseUrl%>',
						method: "POST",
						data: postData,
						dataType: "json"
					})
					.done(function(resData)
					{
						$(editor.getBody()).find('img.image[data-img-id="'+$this.data('imgId')+'"]').parent().remove();
						McTinymce.clearEmptyTags(editor);

						$this.parents('.imageItem').remove();
					})
					.fail(function(resData)
					{
						//console.log(resData);
					});

					break;
			}

			McTinymce.clearEmptyTags(editor);
			return false;
		});
	}

	$('#s_tags').mcAutoComplete({tags: MCJS['keyWords']||[], key_name:'kw_name'});
})(jQuery);
//-->
</script>