<%
let eDate = (event["dd_start_ts"] == event["dd_end_ts"]
		? [event["dd_start_ts"]]
		: [event["dd_start_ts"], event["dd_end_ts"]])
		.join(' &mdash; ');
let hasImages = (!!eventImages && !!eventImages.length);
%>
<h2><%-event['e_title']%></h2>
<div class="row eventData">
	<div class="col-xs-12 col-md-12 paddingBottom10"><i class="fa fa-fw fa-calendar"></i>&nbsp;<%-eDate%><%
		if(event['kw_names'].length>0){%>
		<i class="fa fa-tags" aria-hidden="true"></i>
		<%-(event['kw_names'].map(function(kw_name){return `<a rel="tag" class="line" href="${[menuItem['m_path'], 'tag', kw_name].join(`/`)}/">${kw_name}</a>`;}).join(' '))%>
		<%}
	%></div>
	<div class="col-xs-12 col-md-6 eventText"><%-event.e_text%></div><%
	if (hasImages) { %><div class="col-xs-12 col-md-6"><%- include event_images.ejs %></div><%} %>
	<div class="col-xs-12 col-md-6">
		<p><strong>Где пройдет:</strong></p>
		<ul>
			<li><strong>адрес:</strong> <%=event.e_address%></li>
			<% if (event.e_latitude && event.e_longitude){%>
			<li class="trekCoords"><strong>координаты:</strong><br/>
				широта: <%-event.e_latitude + " (" + event.e_gps_lat + ")"%><br/>
				долгота: <%-event.e_longitude + " (" + event.e_gps_lng + ")"%>
			</li><% }%>
		</ul>
		<div class="eventMap">
			<div id="eventMap"></div>
		</div>
	</div>
</div>
<script src="/js/mcMap.js" type="text/javascript"></script>
<script src="/js/jquery/mcImage.js" type="text/javascript"></script>
<script type="text/javascript">
//<!--
(function($)
{
	var event = MCJS["eventData"] || {};

	$('mcImage').mcImage({
		imgFieldId: "ei_id"//название поля id у картинки в json'e
		, albumImages: '.eventData img.image' //селектор для списка картинок
		, albumImagesMain: '.eventData .eventText img.image'
		, albumImagesSub: '.eventData .imagesWrapper .imagesContainer img.image'
		, albumImagesSubWrapper: '.eventData .imagesWrapper'
		, jsonImageList: event["eventImages"] || {}
		, jsPreviewsList: event["eventImagesPreviews"] || []
	});

	var mapState = {
		 controls: ["typeSelector"]
		, center: [event["e_latitude"], event["e_longitude"]]
		, locationAddress: event["e_address"]
		, zoom: 15
		, type: 'yandex#hybrid'
		//, behaviors: ["default"]
	};
	var mapOptions = {};
	var EventMcMap = new McMap('eventMap', {state: mapState, options: mapOptions});

	EventMcMap.init()
			.then(function (EventMap)
			{
				EventMap.behaviors.disable('drag');
				EventMap.behaviors.disable('scrollZoom');
				EventMap.behaviors.disable('scrollZoom');

				var coords = [
					"широта: " + roundNumber(EventMap.getCenter()[0], 6) + ' (' +event.e_gps_lat+')',
					"долгота: " + 	roundNumber(EventMap.getCenter()[1], 6) + ' (' +event.e_gps_lng+')'
				].join('<br/>');

				var contentBody = ['<strong>адрес:</strong> '+event.e_address];
				
				contentBody.push('<strong>координаты:</strong><br/>'+coords);

				contentBody = '<ul><li>'+ contentBody.join('</li><li>') + '</li></ul>';

				var eventPlacemark = new ymaps.Placemark(
						EventMap.getCenter()
						,	{
							/* Свойства*/
							iconContent: event.e_title
							, iconCaption: event.e_title
							,	balloonContentHeader: event.e_title
							,	balloonContentBody: contentBody
							,	balloonContentFooter: ''
						}
						,   {
							/* Опции*/
							preset: 'islands#blueDotIconWithCaption'
							,	draggable: false
						});
				EventMap.geoObjects.add(eventPlacemark);

				return ymaps.vow.resolve(EventMap);
			})
			.fail(function (err)
			{
				console.log(err);
			});
})(jQuery);
//-->
</script>