<%  if(!_isXHR){%><%- layout('layout/default') %><% } %>
<%- include toolbar.ejs %>
<h1><%=_pageH1%></h1>
<%
if(event && ['edit', 'add'].indexOf(_action)>=0){ %><%- include edit.ejs %><% }
else if (event){%><%- include event.ejs %><%}
else if (eventCalendar || eventList)
{
	if (eventCalendar){%><%- include calendar.ejs %><%}
	if (eventList){%><%- include list.ejs %><%- include ../pages/index.ejs %><%}
}
%>
<script type="text/javascript">
	//<!--
	(function($)
	{
		$('select#eventLocations').on('change', function ()
		{
			window.location.href = this.value;
		});
	})(jQuery);

	if (MCJS['pages'] && Pagination)
	{
		MCJS['pages']['ajaxDataSrc'] = ['eventList'];
		MCJS['pages']['ajaxDataTarget'] = 'eventList';
		MCJS['pages']['jQuerySelector'] = '.eventListContainer .eventListItem';

		Pagination.init();
	}
	//-->
</script>