<%  if(!_isXHR){%><%- layout('layout/default') %><% } %>
<%- include toolbar.ejs %>
<h1><%=_pageH1 + (typeof selectedDate === 'undefined'? '' :' лил░ '+selectedDate)%></h1>
<% if(event && ['edit', 'add'].indexOf(_action) != -1){ %><%- include edit.ejs %><% }
else if (event){%><%- include event.ejs %><%}
else if (eventList){%><%- include list.ejs %><%}
else if (eventCalendar){%><%- include calendar.ejs %><%}
%>
<script type="text/javascript">
	//<!--
	(function($)
	{
		$('select#eventLocations').on('change', function ()
		{
			window.location.href = this.value;
		});
	})(jQuery);
	//-->
</script>