<div class="row">
	<div class="eventListContainer col-xs-12 col-sm-12 col-md-12"><%
eventList.forEach(function (eItem)
{
	let hasImg = (!!eItem["previews"]["512_384"]);
	let imgSrc = (hasImg ? eItem["previews"]["512_384"] : '/_0.gif');
			let eDate = (eItem["e_start_dd"] == eItem["e_end_dd"] ? [eItem["e_start_dd"]] : [eItem["e_start_dd"], eItem["e_end_dd"]]).join(' &mdash; ');
	%><div class="eventListItem">
			<a  class="eventListItemInfo" href="<%=[_reqBaseUrl, eItem["e_id"], eItem["e_alias"]].join('/')%>/">
				<img src="<%=imgSrc%>" alt="<%=eItem["e_title"]%>"/>
			<div class="eventListItemInfoDate"><%-eDate%></div>
			<div class="eventListItemInfoNotice">
				<p><%=eItem["e_title"]%></p>
				<p><%=eItem["e_notice"]%></p>
				<p><i class="fa fa-map-marker"></i>&nbsp;<%=eItem["e_address"]%></p>
			</div>
			</a>
	</div><%
});
 %></div>
</div>