<div class="row">
	<div class="btn-toolbar btnsToolbar" role="toolbar" aria-label="Опции для событий"><%
		if (Object.keys(_access).some(function(m){return (['post_add','post_edit'].indexOf(m) >=0);}))
		{ %><div class="btn-group btn-group-sm" role="group" aria-label="Опции для событий">
			<button type="button" class="btn btn-default dropdown-toggle toolbarBtn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-fw fa-cog"></i> опции <i class="caret"></i></button>
			<ul class="dropdown-menu eventToolBar">
				<% if (_access['post_add']){%>
				<li><a href="<%=menuItem['m_path']+'/add/'%>" ><i class="fa fa-fw fa-plus-square-o"></i> добавить событие</a></li><% }
				if (_access['post_edit'] && event && event['e_id']) {%>
				<li><a href="<%=menuItem['m_path']+'/edit/'+event['e_id']%>/"><i class="fa fa-fw fa-edit"></i> редактировать событие</a></li>
				<li><a href="javascript:void(0);" data-action="delete" data-event-id="<%=event['e_id']%>"><i class="fa fa-fw fa-trash-o"></i> удалить событие</a></li><%
				}%>
			</ul>
		</div><% }%>
		<div class="btn-group btn-group-sm" role="group" aria-label="список событий">
			<a href="<%=menuItem['m_path']+'/'%>" class="btn btn-default toolbarBtn"><i class="fa fa-fw fa-calendar"></i> календарь</a>
		</div>
		<!-- div class="btn-group btn-group-sm" role="group" aria-label="список событий на карте">
			<a href="<%=menuItem['m_path']+'/map/'%>" class="btn btn-default toolbarBtn"><i class="fa fa-fw fa-map-o"></i> на карте</a>
		</div --><%
		if (eventLocations && eventLocations['list'] && eventLocations['list'].length){%>
		<div class="btn-group btn-group-sm" role="group" aria-label="Выбор региона">
			<button type="button" class="btn btn-default dropdown-toggle toolbarBtn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-fw fa-map-marker"></i><%=(eventLocations["selected"]["l_name"]||'регионы')%>&nbsp;<i class="caret"></i></button>
			<ul class="dropdown-menu eventLocationsMenu">
				<li><a href="<%=_reqBaseUrl%>/">все события</a></li><%
				let cssLocSelected, locHref;
				eventLocations.list.forEach(function (eLoc, iLoc)
				{
					cssLocSelected = (eventLocations["selected"]["l_id"] == eLoc["l_id"] ? 'selected' : '');
					locHref = [_reqBaseUrl, _reqPath].join('/') + '?l_id='+eLoc["l_id"];

				%><li class="<%=cssLocSelected%>"><a href="<%=locHref%>"><span style="padding-left: <%=eLoc["l_e_level"]%>0px;"><%=eLoc["l_name"]%></span></a></li><%
				if (eLoc[iLoc+1] && eLoc[iLoc+1]["l_level"] == 1){ %><li role="separator" class="divider"></li><%}
				});%>
			</ul>
		</div>
		<% }%>
		<div class="sharingSocNet" data-soc-list="vk,ok,fb,tw,gp"></div>
	</div>
</div>
<script type="text/javascript">
//<!--
(function($)
{
	$('.eventToolBar a[data-action]').click(function(event)
	{
		event.preventDefault();
		event.stopPropagation();

		var $this = $(this)
		switch($this.data('action'))
		{
			case 'delete':

				$('__del_event_dialog__').mcDialog({
					title: 'Удаление мотособытия'
					, body: formDelEvent(MCJS["eventData"]||{}, '<%=_reqBaseUrl%>')
					, onOpen: function ($dialog)
					{
						$dialog.find('#formDelEvent').postRes({
							btnId: $dialog.find('#btn_del_event'),
							onSuccess: function($respDialog, resp)
							{
								if (resp.hasOwnProperty("formError") && resp["formError"].hasOwnProperty("error") && !resp["formError"]["error"])
								{
									window.location.href = '<%=menuItem.m_path%>';
									return false;//не показать диалог
								}
								return true;
							},
							onFail: function ($respDialog, resp)
							{
								$dialog.hide();
								return true;
							},
							onClose: function ($respDialog)
							{
								$dialog.show().css('overflow', 'visible');
							}
						});
					}
					, buttons: [
						{
							title: 'да'
							, name: 'btn_del_event'
							, cssClass: 'btn-success'
						},
						{
							title: 'нет'
							,name: 'btn_del_event_cancel'
							,cssClass: 'btn-danger'
							,func:
							{
								"click": function($mcDialog)
								{
									$mcDialog.modal('hide');
								}
							}
						}
					]
				});

				break;
		}
	});

	function formDelEvent(event, uri)
	{
		var html = '<form class="form-horizontal" action="'+uri+'/" method="post" id="formDelEvent">' +
				'<input type="hidden" name="btn_save_event" value="del_event"/>' +
				'<input type="hidden" name="i_event_id" value="'+event['e_id']+'"/>' +
				'<div class="form-group"><div class="col-sm-12 text-center">' +
				'Удалить мотособытие: ' + event['e_title'] + '?' +
				'</div></div></form>';

		return html;
	}
})(jQuery);
//-->
</script>