<h4><%=(trek.mtt_name ? 'редактирование' : 'добавление')%> трека</h4>
<ul class="nav nav-pills nav-justified" role="tablist">
	<li class="active" role="presentation"><a href="#base" aria-controls="base" role="tab" data-toggle="tab"><span class="fa fa-cog"></span> Основное</a></li>
	<li role="presentation"><a href="#contacts" aria-controls="contacts" role="tab" data-toggle="tab"><span class="fa fa-map-marker "></span> Контакты</a></li>
</ul>
<!-- Tab panes -->
<form class="form-horizontal" action="<%=menuItem.m_path+'/'+_action%>/" method="post" id="formMototrek">
<div class="panel panel-default">
	<div class="panel-body tab-content">
		<div role="tabpanel" class="tab-pane active" id="base">
			<div class="form-group s_mtt_name">
				<label for="s_mtt_name" class="col-sm-2 control-label">название *</label>
				<div class="col-sm-10">
					<input type="hidden" id="i_mtt_id" name="i_mtt_id" value="<%=trek.mtt_id%>" />
					<input type="text" class="form-control" id="s_mtt_name" name="s_mtt_name" value="<%=trek.mtt_name%>" placeholder="название трека" required="required" />
				</div>
			</div>
			<div class="form-group t_mtt_descrip">
				<label for="t_mtt_descrip" class="col-sm-2 control-label">описание</label>
				<div class="col-sm-10">
					<textarea class="form-control" style="height: 250px;" id="t_mtt_descrip" name="t_mtt_descrip" placeholder="описание трека"><%=trek.mtt_descrip%></textarea>
				</div>
			</div>
		</div>
		<div role="tabpanel" class="tab-pane" id="contacts">
			<div class="form-group s_mtt_website">
				<label for="s_mtt_website" class="col-sm-2 control-label">веб-сайт</label>
				<div class="col-sm-10 s_mtt_website">
					<input type="text" class="form-control" id="s_mtt_website" name="s_mtt_website" value="<%=trek.mtt_website%>" placeholder="веб-сайт" />
				</div>
			</div>
			<div class="form-group m_mtt_email">
				<label for="m_mtt_email" class="col-sm-2 control-label">E-mail</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="m_mtt_email" name="m_mtt_email" value="<%=trek.mtt_email%>" placeholder="E-mail" />
				</div>
			</div>
			<div class="form-group s_mtt_phones">
				<label for="s_mtt_phones" class="col-sm-2 control-label">телефон(-ы)</label>
				<div class="col-sm-10 s_mtt_phones">
					<input type="text" class="form-control" id="s_mtt_phones" name="s_mtt_phones" value="<%=trek.mtt_phones%>" placeholder="телефон(-ы)" />
				</div>
			</div>
			<div class="form-group s_mtt_address">
				<label for="m_mail" class="col-sm-1 control-label">адрес *</label>
				<div class="col-sm-11">
					<input type="text" class="form-control" id="s_mtt_address" name="s_mtt_address" value="<%=trek.mtt_address%>" placeholder="адрес" required="required" readonly="readonly" data-toggle="tooltip" data-container="body" data-placement="auto" title="<%=trek.mtt_address%>">
					<span class="help-block">укажите адрес с помощью карты: через поиск адреса, или по клику на карте.</span>
					<input type="text" id="f_mtt_lat" name="f_mtt_lat" value="<%=trek.mtt_latitude%>" readonly="readonly" maxlength="20" required="" />
					<input type="text" id="f_mtt_lng" name="f_mtt_lng" value="<%=trek.mtt_longitude%>" readonly="readonly" maxlength="20" required="" />
				</div>
			</div>
			<div class="form-group" >
				<div class="col-sm-12" id="mttMap" style="border: 0px solid red; height: 400px;"></div>
			</div>
		</div>
	</div>
</div>
	<div class="form-group">
		<div class="col-xs-offset-5 col-sm-offset-5 ">
			<input type="hidden" name="btn_save_mototrek" value="main"/>
			<button type="submit" class="btn btn-primary" id="btn_edit_mototrek" value="1" data-loading-text="сохраняю..." autocomplete="off">сохранить</button>
		</div>
	</div>
</form>
<script src="/js/mcMap.js" type="text/javascript"></script>
<script src="/js/jquery/postRes.js" type="text/javascript" ></script>
<!-- script src="/js/tinymce/4.4.2/tinymce.min.js" type="text/javascript" ></script -->
<script src="/js/mcTinymce.js" type="text/javascript" ></script>
<script type="text/javascript">
//<!--
(function($)
{
	var mttDescripTinymce = McTinymce({
		selector: '#t_mtt_descrip'
	});

	$('#formMototrek').postRes({btnId: 'btn_edit_mototrek',
		beforeSubmit: function ()
		{
			mttDescripTinymce.then(function (editor)
			{
				//console.log(editor[0]);
				console.log('McTinymce.tinymce.triggerSave()');
				McTinymce.tinymce.triggerSave();
			});
		},
		onSuccess: function($dialog, respData)
		{
			if (respData["i_mtt_id"])
				window.location.href = "<%=menuItem.m_path%>/edit/" +respData["i_mtt_id"] +'/';

			return false;
		}
	});

	var mapState = {
		//center: [img["ai_latitude"], img["ai_longitude"]]
		 controls: ["zoomControl", "searchControl", "typeSelector"]
		, zoom: 15
		, type: 'yandex#hybrid'
		, behaviors: ["default"]
	};
	var mapOptions = {};
	var MttMcMap = new McMap('mttMap', {state: mapState, options: mapOptions});
	var mttPlacemark;
	MttMcMap.init()
			.then(function (MttMap)
			{
				MttMap.behaviors.disable('multiTouch');
				//MttMap.behaviors.disable('scrollZoom');

				MttMap.geoObjects.removeAll();

				addPlaceMark(MttMap);

				var searchControl = MttMap.controls.get("searchControl");
				searchControl.options.set("float", "right");

				searchControl.events.add('submit', function ()
				{

					//console.log('request: ' + searchControl.getRequestString());

				}, this);
				searchControl.events.add('resultselect', function (res)
				{
					/*res.stopPropagation();
					res.preventDefault();
					res.stopImmediatePropagation();
					 */
					searchControl.hideResult();
					searchControl.getResult(res.get('index'))
							.then(function (result)
							{
								//console.log('result = ', result);
								//console.log('result.geometry.getCoordinates() = ', result.geometry.getCoordinates());
								//console.log("result.properties.get('name') = ", result.properties.get('name'));
								//console.log("result.properties.get('text') = ", result.properties.get('text'));

								var text = result.properties.get('text') || result.properties.get('geocoderMetaData.text');

								updPlaceMark(MttMap, text, result.geometry.getCoordinates());
							})
							.fail(function (err)
							{
								updPlaceMark(MttMap, err.message, [], err);
							});
				}, this);

				/* когда кликаем по карте */
				MttMap.events.add('click', function (event)
				{
					var coords = event.get('coords');
console.log('click by coords', coords);
					//return McMap.locationByLatLng(coords[0], coords[1], 'house')
					return McMap.locationByLatLng(coords)
							.then(function(location)
							{
								updPlaceMark(MttMap, location.text, location.coords);
							})
							.fail(function(err)
							{
								updPlaceMark(MttMap, err.message, coords, err);
							});
				});

				return ymaps.vow.resolve(MttMap);
			})
			.fail(function (err)
			{
				console.log(err);
			});

	function addPlaceMark(MttMap)
	{
		var address = (MCJS["trek"] && MCJS["trek"]["mtt_address"] ? MCJS["trek"]["mtt_address"] : '');
		var center = [];
		if (MCJS["trek"] && MCJS["trek"]["mtt_latitude"] && MCJS["trek"]["mtt_longitude"])
			center = [MCJS["trek"]["mtt_latitude"], MCJS["trek"]["mtt_longitude"]];
		else
			center = MttMap.getCenter();

		var iconContent = (MCJS["trek"] && MCJS["trek"]["mtt_name"] ? MCJS["trek"]["mtt_name"] : 'МотоТрек на карте');
		var contentHeader = iconContent;
		var contentBody =   '<p>Чтобы указать место расположения объекта, найдите его с помощью поисковой строки, ' +
				'или кликните мышкой по карте.</p>';

		var contentFooter = '<p><strong>Сейчас указан:</strong><br/>';
			contentFooter += (address ? address+'<br/>' : '');
			contentFooter += center.join(', ') + '</p>';

		mttPlacemark = new ymaps.Placemark(
				center
				,	{
					/* Свойства*/
					iconContent: iconContent
					, iconCaption: iconContent
					,	balloonContentHeader: contentHeader
					,	balloonContentBody: contentBody
					,	balloonContentFooter: contentFooter
				}
				,   {
					/* Опции*/
					//preset: 'islands#blueStretchyIcon' /* иконка растягивается под контент */
					//preset: 'islands#blueBicycle2Icon
					preset: 'islands#blueDotIconWithCaption'
					,	draggable: true
				});

		/* когда двигаем метку */
		mttPlacemark.events.add('dragend', function (e)
		{
			var thisPlacemark = e.get('target');
			var coords = thisPlacemark.geometry.getCoordinates();

			return McMap.locationByLatLng(coords)
					.then(function (location)
					{
						updPlaceMark(MttMap, location.text, location.coords);
					})
					.fail(function(err)
					{
						updPlaceMark(MttMap, err.message, coords, err);
					});
		});

		MttMap.geoObjects.add(mttPlacemark);
		MttMap.setCenter(center);
	}

	function updPlaceMark(MttMap, text, coords, err)
	{
		var contentFooter = '<p><strong>Сейчас указан:</strong><br/>' +
				text + '<br/>' +
				coords.join(', ') +
				'</p>';

		mttPlacemark.properties.set('balloonContentFooter', contentFooter);
		mttPlacemark.geometry.setCoordinates(coords);

		if (err)
		{
			$('#s_mtt_address').val('');
			$('#f_mtt_lat').val('');
			$('#f_mtt_lng').val('');

			return;
		}

		$('#s_mtt_address').val(text);
		$('#s_mtt_address').attr('data-original-title', text);
		$('#f_mtt_lat').val(coords[0]);
		$('#f_mtt_lng').val(coords[1]);
	}

})(jQuery);
//-->
</script>