<%  if(!_isXHR){%><%- layout('layout/user/index') %><% } %>
<%- include toolbar.ejs %>
<h1><%=[menuItem.m_h1, (trek ? trek.mtt_name : '')].join(': ')%></h1>

<% if(trek && (_action =='edit' || _action =='add')){ %><%- include edit.ejs %><% }
else if (trek){%><%- include trek.ejs %><%}
else if (trekList){%><%- include list.ejs %><%}%>


<p>данные по треку:</p>
<p>тип покрытия: асфальт, грунт...</p>
<p>фотографии?! (добавить в конфиг uploads)</p>