<%
if (typeof comments == 'undefined') {
	let comments = {
		list: [],
		count: 0,
		obj_id: null
	};
}%>
<h3>Комментарии&nbsp;<span class="badge js-comments-count"><%=comments['count']%></span></h3>
<form action="<%=menuItem['m_path']%>/comment/" method="post" class="form-horizontal text-center js-form-add-comment" id="formAddComment0">
	<input type="hidden" name="ui_obj_id" id="ui_obj_id" value="<%=comments['obj_id']%>"/>
	<input type="hidden" name="ui_cm_pid" id="ui_cm_pid" value="0"/>
	<div class="form-group t_comment">
		<div class="col-sm-6 col-sm-offset-3">
			<textarea class="form-control" id="t_comment" name="t_comment" placeholder="комментарий" maxlength="1000"></textarea>
		</div>
	</div>
	<div class="form-group">
		<input type="hidden" name="btn_save_comment" value="add">
		<button type="button" class="btn btn-sm btn-primary" id="btn_comment_add" value="1" data-loading-text="добавляю..." autocomplete="off">добавить</button>
	</div>
</form>
<ul class="comment-list-container js-comment-list-container"><%
	if (comments['list']  && comments['list'].length)
	{
		let paddingLeft = 0;
		let  user_owner = {};
		comments['list'].forEach(function (comment)
		{
			user_owner = comment['user'];
			paddingLeft = comment['cm_level'];
		
		
		//TODO 
		/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
		определять кто какой комментарий может удалить/изменить (админ/подератор + автор коммента)
		 !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
		 */
			%><li data-cm-id="<%=comment['cm_id']%>" data-cm-pid="<%=comment['cm_pid']%>" class="comment-item js-comment-item" style="padding-left: <%=paddingLeft%>00px;">
			<div class="comment-user">
				<%- include ../user/owner.ejs %>
			</div>
			<div class="comment-data">
				<div class="comment-date"><%=comment['dt_create_ts']%></div>
				<div class="comment-action">
					<a class="js-comment-action" data-action="add">комментировать</a><% 
					if (comment['cm_editable']) {%>
					<a class="js-comment-action" data-action="del" title="удалить" data-toggle="tooltip" data-placement="auto"><i class="fa fa-fw fa-trash-o"  aria-hidden="true"></i></a>
					<a class="js-comment-action" data-action="edit" title="изменить" data-toggle="tooltip" data-placement="auto"><i class="fa fa-fw fa-pencil-square-o" aria-hidden="true"></i></a><%}
					if (!comment['cm_owner']) {%><a style="color: #5cb85c;" class="js-comment-action" data-action="like" title="нравится" data-toggle="tooltip" data-placement="auto"><i class="fa fa-fw fa-thumbs-o-up" aria-hidden="true"></i><sup class="badge">21</sup></a>
					<a style="color: #cc0000;" class="js-comment-action" data-action="dislike" title="не нравится" data-toggle="tooltip" data-placement="auto"><i class="fa fa-fw fa-thumbs-o-down" aria-hidden="true"></i><sub class="badge">21</sub></a><%}%>
				</div>
				<div class="comment-text js-comment-text"><%=comment['cm_hide']%><p><%-comment['cm_text_array'].join('</p><p>')%></p></div>
			</div>
	</li><%})%>
	<% } %>
</ul>
<%- include ../pages/index.ejs %>
<script type="text/javascript" src="/js/jquery/mcComment.js"></script>
<script type="text/javascript">
//<!--
$('__formAddComment__').mcComment({
	formAddComment:'.js-form-add-comment',
	commentList: '.js-comment-list-container',
	commentItem: '.js-comment-list-container .js-comment-item',
	commentCount: '.js-comments-count',
	commentActions: '.js-comment-action',
	commentText: '.js-comment-text',
	objId: '<%=comments['obj_id']%>'
});
if (MCJS['pages'] && Pagination)
{
	MCJS['pages']['ajaxDataSrc'] = ['comments', 'list'];
	MCJS['pages']['ajaxDataTarget'] = 'comments';
	MCJS['pages']['jQuerySelector'] = '.js-comment-item';

	Pagination.init();
}
//-->
</script>