<%  if(!_isXHR){%><%- layout('layout/default') %><% } -%>
<h1><%= _pageH1 %></h1>
<p>TODO</p>
<p>права группам раздаются при редактировании навигации.</p>
<p>общая последовательность такая:</p>
<p>создать/отредактировать контроллер</p>
<p>добавить к контроллеру методы (удалить метод можно только если нет связи этого метода с любой группой пользователей)</p>
<p style="color: red;">создать/отредактировать пункт меню: указать контроллер (что с группой потом делать, если сменили контроллер? удалять связи между методами + контроллер + m_id + группа пользователей?)</p>
<p>создать/отредактировать группу пользователей:</p>
<p>1) выбрать пункт меню, по пункту меню найти методы, показать их</p>
<p>2) отметить какие методы для данного пункта меню можно будет выполнять редактируемой группе пользователей</p>
<p style="color: red;">3) ВАЖНО. при добавлении прав любой группе, эти права "снизу вверх" проставляются как минимум у групп root, admin (а вообще для всех родительских групп)<br/>
если у какой-либо группы "удаляются" права, то права не должны удаляться у групп root, admin</p>
<p></p>
<h2><% if(ui_ug_id) {%>Изменить<%} else {%>Добавить<%}%> группу: <%= s_ug_name %></h2>
<div class="row">
    <div class="col-xs-12 col-sm-3">
        <div class="col-xs-12 open">
            <ul class="dropdown-menu">
                <% userGroupsList.forEach(function(user_group){%>
                <li>
                    <a class="<% if(ui_ug_id == user_group["ug_id"]){%>selected<%}%>" href="<%= [menuItem['m_path'], 'edit', user_group["ug_id"]].join('/') %>/"><%- user_group["ug_nbsp"] %><%= user_group["ug_name"] %></a>
                </li>
                <% }) %>
            </ul>
        </div>
    </div>
    <div class="col-xs-12 col-sm-9">
        <ul class="nav nav-pills nav-justified" role="tablist">
            <li class="" role="presentation"><a href="#base" aria-controls="base" role="tab" data-toggle="tab"><i class="fa fa-cog"></i> Основные параметры</a></li>
            <% if (_action == 'edit') { %>
            <li role="presentation"><a href="#users_groups_rights" aria-controls="users_groups_rights" role="tab" data-toggle="tab"><i class="fa fa-cogs"></i> Права</a></li>
            <% }%>
        </ul>
        <!-- Tab panes -->
        <div class="panel panel-default">
            <div class="panel-body tab-content">
                <div role="tabpanel" class="tab-pane active" id="base">
                    <div class="panel-body" id="userGroupBody">
                        <form id="userGroupEditForm" class="form-horizontal" action="<%= menuItem['m_path'] %>/edit/" method="post">
                            <input type="hidden" id="ui_ug_id" name="ui_ug_id" value="<%= ui_ug_id %>"/>
                            <div class="form-group b_ug_on_register">
                                <label class="col-sm-5 control-label" for="b_ug_on_register">Назначается при регистрации пользователя?</label>
                                <div class="col-sm-7 checkbox">
                                    <label><input type="checkbox" name="b_ug_on_register" <% if (b_ug_on_register == '1'){ %>checked="checked"<%}%> />да</label>
                                </div>
                            </div>
                            <div class="form-group ui_ug_pid">
                                <label class="col-sm-3 control-label" for="ui_ug_pid">Укажите родительскую группу</label>
                                <div class="col-sm-9">
                                    <select id="ui_ug_pid" name="ui_ug_pid" class="form-control">
                                        <option value="0">нет родителя</option>
                                        <% userGroupsList.forEach(function(user_group){%>
                                        <option value="<%= user_group["ug_id"] %>" <% if(ui_ug_pid == user_group["ug_id"]){%>selected="selected"<%}%> <% if(ui_ug_id == user_group["ug_id"]){%>disabled="disabled"<%}%> >
                                            <%- user_group["ug_nbsp"] %><%= user_group["ug_name"] %>
                                        </option>
                                        <% }) %>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group ui_ug_after_id">
                                <label class="col-sm-3 control-label" for="ui_ug_after_id">После какой группы</label>
                                <div class="col-sm-9">
                                    <select id="ui_ug_after_id" name="ui_ug_after_id" class="form-control">
                                        <option value="0">в начале</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group s_ug_path">
                                <label class="col-sm-3 control-label" for="s_ug_path">"alias" группы</label>
                                <div class="col-sm-9">
                                    <input type="text" id="s_ug_path" name="s_ug_path" value="<%= s_ug_path %>" maxlength="100" class="form-control" placeholder="&quot;Путь&quot; группы" required autofocus aria-describedby="s_ug_pathHelpBlock"/>
                                    <span id="s_ug_pathHelpBlock" class="help-block">пример: admin, user, guest, moderator...</span>
                                </div>
                            </div>
                            <div class="form-group s_ug_name">
                                <label class="col-sm-3 control-label" for="s_ug_name">Название группы</label>
                                <div class="col-sm-9">
                                    <input type="text" id="s_ug_name" name="s_ug_name" value="<%= s_ug_name %>" maxlength="255" class="form-control" placeholder="Название группы" required autofocus aria-describedby="s_ug_nameHelpBlock"/>
                                    <span id="s_ug_nameHelpBlock" class="help-block">от 3 до 255 символов</span>
                                </div>
                            </div>
                            <div class="form-group t_ug_desc">
                                <label class="col-sm-3 control-label" for="t_ug_desc">Описание группы</label>
                                <div class="col-sm-9">
                                    <textarea rows="5" id="t_ug_desc" name="t_ug_desc" class="form-control" placeholder="Описание группы"><%= t_ug_desc %></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-6 col-sm-offset-6">
                                    <% if(ui_ug_id){%>
                                    <input type="hidden" name="btn_ug_save" value="update" />
                                    <button class="btn btn-default" type="submit" name="btn_user_group_form">Изменить</button>
                                    <%} else {%>
                                    <input type="hidden" name="btn_ug_save" value="add" />
                                    <button class="btn btn-default" type="submit" name="btn_user_group_form">Добавить</button>
                                    <%} %>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <% if (_action == 'edit') { %>
                <div role="tabpanel" class="tab-pane" id="users_groups_rights">
                    <div class="panel-body" id="userRightsBody">
                        <form id="userGroupMethodsForm" class="form-horizontal" action="<%= menuItem['m_path'] %>/edit/" method="post">
                            <input type="hidden" id="ui_ug_id" name="ui_ug_id" value="<%= ui_ug_id %>"/>
                            <div class="form-group ui_m_id">
                                <label class="col-sm-3 control-label" for="ui_m_id">Выберите пункт меню</label>
                                <div class="col-sm-9">
                                    по c_id получаем список методов: причем результат должен быть с проверкой уже отмеченных ранее методов для текущей группы...
                                    то есть, нужна таблица вида: ug_id, m_id, c_id, cm_id
                                    <select id="ui_m_id" name="ui_m_id" class="form-control js-menu-controller-id">
                                        <option value="0"></option><% menuList.forEach(function(mItem){%>
                                        <option value="<%= mItem["m_id"] %>"><%- mItem["m_nbsp"] %><%= mItem["m_name"] %></option><% }) %>
                                    </select>
                                </div>
                            </div>
                            <ul class="form-group ug_rights js-methods-list"></ul>
                            <div class="form-group">
                                <div class="col-sm-6 col-sm-offset-6">
                                    <input type="hidden" name="btn_ug_save" value="save_rights" />
                                    <button class="btn btn-primary" type="submit" id="btn_save_rights">сохранить</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <% } %>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
//<!--
var ui_ug_id = "<%= ui_ug_id %>";
var ui_ug_pid = "<%= ui_ug_pid %>";
(function($)
{
    var $userGroupEditForm = $('#userGroupEditForm');
    var $ui_ug_pid = $userGroupEditForm.find('#ui_ug_pid');
    var $ui_ug_after_id = $userGroupEditForm.find('#ui_ug_after_id');
    var inBegin = '<option value="0">в начале</option>';

    $userGroupEditForm.postRes({btnId: 'btn_user_group_form',
        onSuccess: function($dialog, respData)
        {
            //console.log(respData);
            window.location.href = $userGroupEditForm.attr('action')+respData['ui_ug_id'];
            return false;
        }
    });

    var userGroupsList = MCJS["userGroupsList"] || [];

    function subUserGroupItem(pid, ugId)
    {
        $ui_ug_after_id.empty().append(inBegin);

        if(this.value == "0") return;
        var rOption = '';
        var j = 0;
        for(var i in userGroupsList)
        {
            j = parseInt(i, 10)+1;
            var rItem = userGroupsList[i];

            if(ugId == rItem["ug_id"])
                continue;

            var selected = '';//selected="selected"
            if(userGroupsList[j] && userGroupsList[j]["ug_id"] == ugId)
                selected = 'selected="selected"';

            if(rItem["ug_pid"] == pid)
            {
                rOption += '<option value="'+rItem["ug_id"]+'" '+selected+' >после '+rItem["ug_name"]+'</option>';
            }
        }
        $ui_ug_after_id.append(rOption);
    }

    subUserGroupItem(ui_ug_pid, ui_ug_id);
    
    $ui_ug_pid.change(function(){
        subUserGroupItem(this.value, ui_ug_id);
    });

    var $userGroupMethodsForm = $('#userGroupMethodsForm');

    $userGroupMethodsForm.postRes({btnId: 'btn_save_rights',
        onSuccess: function($dialog, respData)
        {
            console.log(respData);
            //window.location.href = $userGroupEditForm.attr('action')+respData['ui_ug_id'];
            return true;
        }
    });

    $('.js-menu-controller-id').on('change', function (event)
    {
        var formData = {'btn_ug_save': 'get_menu_methods'};
        formData["ui_m_id"] = $(this).val();
        formData["ui_ug_id"] = ui_ug_id;

        $.ajax({
            url: $userGroupMethodsForm.attr('action'),
            method: "POST",
            data: formData,
            dataType: "json"
        })
        .done(function(respData)
        {
            //console.log( respData );
            var $jsMethodsList = $('.js-methods-list').empty();

            var methodsList = respData["methodsList"] || [];

            if (methodsList.length)
            {
                var li = '';
                var cId = null;

                $.each(methodsList, function (i, method)
                {
                    console.log( i, method );
                    cId = method['c_id'];
                    var checked  = (parseInt(method['b_allowed'], 10) ? ' checked="checked" ' : '');

                    li = '<li data-method-id="'+method['cm_id']+'">'
                    li += '<label><input '+checked+' type="checkbox" name="cm_id[]" value="'+method['cm_id']+'" /> '+method['cm_method']+'</label>';
                    li += '</li>'
                    $jsMethodsList.append(li);
                });
                cId = parseInt(cId, 10);
                $jsMethodsList.append('<input type="hidden" name="c_id" value="'+cId+'" />');
            }
        })
        .fail(function(respData)
        {
            console.log( respData );
        }
        );
    });

})(jQuery);
//-->
</script>
<p style="color: red;">TODO</p>
script type="text/javascript" src="/js/jquery/admin/user_group.js"></script