</div>
<footer class="footer marginTop15">
    <div class="container-fluid content">
        <p>_reqBaseUrl :<%= _reqBaseUrl %> _reqOriginalUrl: <%= _reqOriginalUrl %> _reqPath: <%= _reqPath %></p>
        <div>© 2011-<%= (new Date()).getFullYear() %> «MotoCommunity»</div>
        <div>И разве имя мое здесь важно? Ведь кто-то чувствует этот мир так же. Мы все разные - бесценен каждый! (© Каста)</div>
        <div>При копировании или цитировании материалов обязательна ссылка на&nbsp;<a href="http://www.MotoCommunity.ru" title="Мотосообщество: мотоциклы, мопеды, квадроциклы" class="line" style="color: #f4f4f4;">www.MotoCommunity.ru</a></div>
    </div>
</footer>
<i class="fa fa-arrow-up goto-up" aria-hidden="true"></i>
<script src="/bootstrap/dist/js/ie10-viewport-bug-workaround.js"></script>
<script src="/js/helpers.js"></script>
<script src="/js/jquery/topTools.js"></script>
<script type="text/javascript">
//<!--
var _reqBaseUrl = '<%=_reqBaseUrl%>';
$('.navbar-user-top .top-tools').topTools({
    u_id: "<%= (_user && _user.u_id? _user.u_id : '')%>"
});

var userEmptyName = <%=(_user && _user['u_display_name'] == '')%>;
if (userEmptyName)
{
    var url = _reqBaseUrl.split('/');
    url.forEach(function(item, i){
        if (item == '') url.splice(i, 1);
    });

    if (false == (url.length == 2 && url[0] == 'profile' && url[1] == 'edit'))
    window.location = '/profile/edit/?empty_name#base';
}
//-->
</script>
</body>
</html>