<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <meta name="description" content="<%= (_pageDescription ? _pageDescription : 'Мотосообщество для всех, кто связан с мотоциклами, мопедами, квадроциклами. Общайтесь, обменивайтесь новостями, опытом, мнениями. Адреса и контакты мотосервисов и магазинов мотозапчастей.') %>" />
    <meta name="keywords" content="" />
    <title><%= (_pageTitle ? _pageTitle : 'Мотосообщество: о проекте «MotoCommunity»') %></title>

    <meta property="og:site_name" content="MotoCommunity - мотосообщество для всех!" />
    <meta property="og:type" content="website" />

    <meta property="og:url" content="<%=_reqOriginalUrl%>" />
    <meta property="og:title" content="<%= (_pageTitle ? _pageTitle : 'Мотосообщество: о проекте «MotoCommunity»') %>" />

    <!-- повтор для description" -->
    <meta property="og:description" content="<%= (_pageDescription ? _pageDescription : 'Мотосообщество для всех, кто связан с мотоциклами, мопедами, квадроциклами. Общайтесь, обменивайтесь новостями, опытом, мнениями. Адреса и контакты мотосервисов и магазинов мотозапчастей.') %>" />

    <!-- можно разместить где-то "внутри страницы". content - путь к картинке-->
    <meta property="og:image" content="<%= (_pageOgImage ? _pageOgImage : '/img/logo.jpg') %>" itemprop="og:image" />
	<!-- я.вебмастер -->
	<meta name='yandex-verification' content='4d0024695ffba4a9' />

	<noscript><meta http-equiv="refresh" content="0; URL=/badbrowser.html"></noscript>
	<!-- http://htmlbook.ru/samlayout/internet-explorer/uslovnye-kommentarii -->
	<!--[if lt IE 9]>
	<meta http-equiv="refresh" content="0; URL=/badbrowser.html" />
	<![endif]-->
	<!-- Bootstrap -->
    <link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

	<!-- font-awesome -->
    <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link rel='stylesheet' href='/js/jquery/ui/jquery-ui.min.css' />
	<link  href="/js/cropper/2.3.2/cropper.min.css" rel="stylesheet" />

	<!--[if lte IE 9]>
	<script src="/js/json3.min.js"></script>
	<script src="/js/html5shiv/html5shiv-printshiv.3.7.2.min.js"></script>
	<script src="/js/html5shiv/html5shiv.3.7.2.min.js"></script>
	<script src="/js/respond/respond.1.4.2.min.js"></script>
	<![endif]-->

	<script src="/js/js-polyfills/typedarray.js"></script>
	<script src="/js/js-polyfills/polyfill.min.js"></script>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<!--[if lte IE 9]>
	<script src="/js/jquery/jquery-1.11.3.min.js"></script>
	<![endif]-->
	<!--[if gte IE 10]>
	<script src="/js/jquery/jquery-1.12.0.min.js"></script>
	<![endif]-->
	<!--[if !IE]>-->
	<script src="/js/jquery/jquery-1.12.0.min.js"></script>
	<!--<![endif]-->

    <script src="/js/jquery/ui/jquery-ui.min.js"></script>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
	<%- include expose/index.ejs %>
	<link rel='stylesheet' href='/css/style.css' />
</head>
<body class="mc-project">
<iframe charset="utf-8" name="null_frame" id="null_frame" src="about:blank" height="0" width="0" style="display:none;visibility:hidden;height:0; width:0;"></iframe>
<nav class="navbar navbar-default navbar-fixed-top" id="navbarFixedTop">
	<div class="container-fluid row" style="background-color: #fff;">
		<div class="col-xs-12 col-sm-6 col-md-8 navbar-social">
				<span class="social">Мы в социальных сетях</span>
				<a class="social fa fa-vk fa-fw" href="https://vk.com/motocommunityru" target="_blank" rel="nofollow" title="MotoСommunity ВКонтакте"></a>
				<a class="social fa fa-odnoklassniki fa-fw" href="http://odnoklassniki.ru/group/53882214612996" target="_blank" rel="nofollow" title="MotoСommunity в Одноклассниках"></a>
				<a class="social fa fa-facebook fa-fw" href="https://www.facebook.com/groups/MotoCommunityRu/" target="_blank" rel="nofollow" title="MotoСommunity в FaceBook"></a>
				<a class="social fa fa-twitter fa-fw" href="https://twitter.com/#!/MotoCommunityRu" target="_blank" rel="nofollow" title="MotoСommunity в Twitter"></a>
				<a class="social fa fa-google-plus fa-fw" href="https://plus.google.com/+MotocommunityRu/" target="_blank" rel="nofollow" title="MotoСommunity в Google+"></a>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 navbar-user-top">
			<%
			if(_user) {%><a class="userProfileTop" href="/profile/"><%
					let ava = (_user.previews && _user.previews["50_50"]);
					let avaSrc = (ava ? _user.previews["50_50"] : '/_0.gif');%><img class="img-circle img-responsive <%=(ava ? '':'hidden')%>" src="<%=avaSrc%>" /><span class="fa fa-user <%=(ava ? 'hidden':'')%>"></span></a><%
			}%>
			<a class="top-tools" data-action="feedback" href="javascript:void(0);"><i class="fa fa-fw fa-envelope-o"></i>&nbsp;</a>
			<a class="top-tools" data-action="" href="javascript:void(0);"><i class="fa fa-fw fa-bell-o"></i>&nbsp;</a>
		</div>
	</div>
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">MotoCommunity</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">MotoCommunity</a>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
            <%- include menu/main %>
            <% if(_user) {
			%><div class="navbar-right">
				<form class="navbar-form" action="/logout" method="post">
					<button type="submit" class="btn btn-danger">выйти</button>
				</form>
			</div><%
			} else {%>
            <div class="navbar-form navbar-right">
            <a class="btn btn-default" href="/login" role="button">Войти</a>
            <a class="btn btn-default" href="/registration" role="button">Регистрация</a>
            </div><%
			}%>
		</div><!--/.nav-collapse -->
        <!-- ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li><a href="#">Library</a></li>
            <li class="active">Data</li>
        </ol -->
	</div>
</nav>
<!-- Begin page content -->
<div class="container-fluid">