<%  if(!_isXHR){%><%- layout('layout/user/index') %><% } %>
<% if (users){
users.forEach(function (usr)
{
	let linkTousr = _reqBaseUrl+'/'+usr["u_id"];
	let usrAvaSrc = (usr["previews"]["180_180"] ? usr["previews"]["100_100"] : '/_0.gif');
%>
<a href="<%=linkTousr%>/">
	<img src="<%=usrAvaSrc%>" style="width: 100px; border: 1px solid;"/>
	<%=usr['u_display_name']%>
	<%=usr.l_name%>
</a>
<%});} %>
<%- include ../pages/index.ejs %>
