<%  if(!isXHR){%><%- layout('layout/user/index') %><% } %>
<% if (users){
	users.forEach(function (usr)
	{
	let usrName = (usr["u_login"] ? usr["u_login"] : (usr["u_name"] || usr["u_surname"] ? [usr["u_name"], usr["u_surname"]].join(' ') : ''));
	let linkTousr = _reqBaseUrl+'/'+usr["u_id"];
	let usrAvaSrc = (usr["previews"]["180_180"] ? usr["previews"]["180_180"] : '/_0.gif');
%>
<a href="<%=linkTousr%>/">
	<%=usrName%>
	<%=usr.l_name%>
	<img src="<%=usrAvaSrc%>" style="width: 180px; border: 1px solid;"/>
</a>
<%});} %>
<%- include ../pages/index.ejs %>
