<%
let pPath = (!_user || !user.u_id? '/registration/' : '');
pPath = (_user && user && user.u_id && _user.u_id == user.u_id ? '/profile/' : pPath);
pPath = (_user && user && user.u_id && _user.u_id != user.u_id ? '/profile/'+user.u_id+'/' : pPath);
%>
<div class="logo">&nbsp;</div>
<div id="profile-ava" class="col-xs-12 col-sm-12 col-md-12">
    <a href="<%=pPath%>"><%
        let ava = (user.previews && user.previews["180_180"]);
        let avaSrc = (ava ? user.previews["180_180"] : '/_0.gif');
        %><img class="img-circle img-responsive <%=(ava ? '':'hidden')%>" src="<%=avaSrc%>" />
        <i class="fa fa-user <%=(ava ? 'hidden':'')%>"></i>
    </a>
</div>
<div class="col-xs-12 col-sm-12 col-md-12 ">
    <div class="row profile-info">
        <% if(_user && (_user.u_id == user.u_id)){%>
        <div class="col-xs-6 col-sm-12 col-md-12"><a href="/profile/edit/"><span class="fa fa-edit fa-fw"></span> редактировать</a></div>
        <% } if (user.u_display_name) {%>
        <div class="col-xs-6 col-sm-12 col-md-12">
            <i class="fa fa-user fa-fw" aria-hidden="true"></i> <%= user.u_display_name %>
        </div><% }
        if (user.l_name) {%>
        <div class="col-xs-6 col-sm-12 col-md-12 cursor-pointer">
            <span data-toggle="tooltip" title="<%= user.l_full_name%>" data-container="body" data-placement="auto"><i class="fa fa-map-marker fa-fw" aria-hidden="true"></i> <%= user.l_name%></span>
        </div><% }%>
        <div class="col-xs-6 col-sm-12 col-md-12"><span class="fa fa-motorcycle fa-fw"></span> CBR1000RA</div>
        <% if(user.u_id){%>
        <div class="col-xs-6 col-sm-12 col-md-12"><a href="/profile/photo/<%= user.u_id%>/"><span class="fa fa-camera fa-fw"></span> фотографии</a></div>
        <div class="col-xs-6 col-sm-12 col-md-12"><a href="/profile/video/<%= user.u_id%>/"><span class="fa fa-video-camera fa-fw"></span> видео</a></div>
        <%}%>
    </div>
</div>