<%  if(!_isXHR){%><%- layout('layout/user/index') %><% } %>
<ol class="breadcrumb">
	<li><a href="<%=menuItem.m_path%>/"><%=menuItem.m_name%></a></li>
	<li><a href="<%=(menuItem.m_path+'/'+user.u_id+'/')%>"><%=(user.u_login ? user.u_login : (user.u_name || user.u_surname ? [user.u_name, user.u_surname].join(' ') : ''))%></a></li>
</ol>
<div class="userProfile">
<p>логин <%=user.u_login%></p>
<p>фи <%=[user.u_name, user.u_surname].join(' ')%></p>
<p>пол <%=user.u_sex_name%></p>
<p>населенный пункт <%=user.l_name%> u_location_id = <%=user.u_location_id%></p>
<p>ДР <%=user.bd_birthday%></p>
<p>мотоцикл CBR1000RA</p>
<p>интересы: ...</p>
<% if (albums){ %>
<div class="mediaWrapper blocks">
	<h4><a href="<%=(_reqBaseUrl+'/photo/'+user["u_id"])%>/"><span class="badge"><i class="fa fa-fw fa-camera"></i> <%=albums["a_cnt"]%></span> Фотоальбомы</a></h4>
<div class="mediaList">
	<% albums.forEach(function (album)
	{
		let img = '';
		if(album["previews"]["512_384"])
		{
			img = '<img src="'+album["previews"]["512_384"]+'" alt="'+album["a_name"]+'"/>';
		}else{
			img = '<img src="/img/no_image.png" alt="'+album["a_name"]+'" class="noImg"/>';
		}
	%>
	<div class="media">
		<a class="mediaImg" href="<%=(_reqBaseUrl+'/photo/'+album["u_id"]+'/'+album["a_id"])%>/"><%-img%></a>
		<div class="mediaTools">
			<span class="badge"><i class="fa fa-fw fa-camera"></i> <%=album["file_cnt"]%></span>
		</div>
		<div class="mediaTitle">
			<div class="mediaName"><%=album["a_name"]%></div>
			<% if (album["a_text"]){%><div class="mediaText"><%=album["a_text"]%></div><%}%>
		</div>
	</div>
	<%})%>
</div>
</div>
<%}%>
</div>