<%  if(!_isXHR){%><%- layout('layout/default') %><% } -%>
<div class="page-header">
    <h1><%= h1 %></h1>
</div>
<p>admin/menu/index</p>
<p>TODO</p>
<p>добавить возможность выбора "роутера" после которого расположить редактируемый (в ветке выбранного родителя).</p>
<p>иначе, сейчас при каждом редактировании, обновляемый роутер перемещаетя на "первое" место в своей ветке</p>
<p>не давать возможность выбрать в качестве родителя кого-то из своих потомков!!!!!</p>
<h2><% if(admin_menu.menuId) {%>Изменить<%} else {%>Добавить<%}%> пункт меню сайта: <%= admin_menu.menuName %></h2>
<% if(formError.error) {%>
<div class="alert alert-danger">
<p><%= formError.message %></p>
<ul>
    <% for (var f in  formError.fields){
        if(!formError.fields[f]) continue;
    %><li><%=formError.fields[f] %></li><%
    } %>
</ul>
</div>
<% }%>
<div class="col-sm-3" style="border: 1px solid red;">
    <ul>
    <% admin_menu.menuList.length && admin_menu.menuList.forEach(function(mItem, i){ %>
    <li style="padding-left: <%= (mItem["m_level"] > 1 ? mItem["m_level"] : '') %>0px;">
        <%  if(mItem["m_id"] ==  admin_menu.menuId) {%>
        <span><%= mItem["m_name"] %></span>
        <%  } else { %>
        <a href="<%= menuItem["m_path"]+'/edit/'+ mItem["m_id"] %>"><%= mItem["m_name"] %></a>
        <%  }  %>
    </li>
    <% }) %>
    </ul>
</div>
<div class="col-sm-9" style="border: 1px solid red;">
<form id="menuEditForm" class="form-horizontal" action="" method="post">
    <input type="hidden" id="menuId" name="menuId" value="<%= admin_menu.menuId %>"/>
    <div class="form-group">
        <label class="col-sm-3 control-label" for="menuPid">Родительское меню</label>
        <div class="col-sm-9">
                <select id="menuPid" name="menuPid" class="form-control">
                <option value="0">нет родителя</option>
                    <% admin_menu.menuList.length && admin_menu.menuList.forEach(function(mItem, i){ %>
                    <option value="<%= mItem["m_id"] %>" <% if (mItem["m_id"] == admin_menu.menuPid) { %>selected="selected"<%}%>  <% if (mItem["m_id"] == admin_menu.menuId) { %>disabled="disabled"<%}%>>
                        <%- mItem["m_nbsp"] %><%= mItem["m_name"] %>
                    </option>
                    <% }) %>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label" for="menuAfterId">После какого меню</label>
        <div class="col-sm-9">
            <select id="menuAfterId" name="menuAfterId" class="form-control">
                <option value="0">в начале</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label" for="menuControllerId">Укажите роутер </label>
        <div class="col-sm-9">
            <select id="menuControllerId" name="menuControllerId" class="form-control">
                <option value="0"></option>
                <% admin_menu.controllerList.length && admin_menu.controllerList.forEach(function(controller){ %>
                <option value="<%= controller["c_id"] %>" <% if (controller["c_id"] == admin_menu.menuControllerId) { %>selected="selected"<%}%>  >
                    <%- controller["c_nbsp"] %><%= controller["c_name"] %>
                </option>
                <% }) %>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label" for="menuPath">URL меню *</label>
        <div class="col-sm-9">
            <input type="text" id="menuPath" name="menuPath" value="<%= admin_menu.menuPath %>" maxlength="255" class="form-control" placeholder="url меню" autofocus aria-describedby="menuPathHelpBlock" required/>
            <span id="menuPathHelpBlock" class="help-block">пример: /menu/path</span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label" for="menuName">Название меню</label>
        <div class="col-sm-9">
        <input type="text" id="menuName" name="menuName" value="<%= admin_menu.menuName %>" maxlength="100" class="form-control" placeholder="Название меню" required autofocus aria-describedby="menuNameHelpBlock"/>
            <span id="menuNameHelpBlock" class="help-block">от 3 до 100 символов</span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label" for="menuTitle">Заголовок страниц</label>
        <div class="col-sm-9">
            <input type="text" id="menuTitle" name="menuTitle" value="<%= admin_menu.menuTitle %>" maxlength="255" class="form-control" placeholder="Заголовок страниц" required autofocus aria-describedby="menuTitleHelpBlock"/>
            <span id="menuTitleHelpBlock" class="help-block">&lt;title&gt;&lt;title&gt; от 3 до 255 символов</span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label" for="menuH1">H1 страниц</label>
        <div class="col-sm-9">
            <input type="text" id="menuH1" name="menuH1" value="<%= admin_menu.menuH1 %>" maxlength="100" class="form-control" placeholder="Заголовок страниц" required autofocus aria-describedby="menuH1HelpBlock"/>
            <span id="menuTitleHelpBlock" class="help-block">&lt;h1&gt;&lt;h1&gt; от 3 до 100 символов</span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label" for="menuDesc">Описание меню</label>
        <div class="col-sm-9">
            <textarea rows="5" maxlength="255" id="menuDesc" name="menuDesc" class="form-control" placeholder="Описание роутера"><%= admin_menu.menuDesc %></textarea>
            <span id="menuDescHelpBlock" class="help-block">&lt;meta description="" /&gt; до 255 символов</span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-6 col-sm-offset-6">
            <% if(admin_menu.menuId){%>
            <button class="btn btn-default" type="submit" name="menuFormBtn" value="upd">Изменить</button>
            <%} else {%>
            <button class="btn btn-default" type="submit" name="menuFormBtn" value="add">Добавить</button>
            <%} %>
        </div>
    </div>
</form>
</div>
<script type="text/javascript">
//<!--
<%-(exported_to_js ? exported_to_js : "") %>
var MCJS = window["<%= settings["state namespace"] %>"];
$(function()
{
    var menuId = "<%= admin_menu.menuId %>";
    var menuPid = "<%= admin_menu.menuPid %>";
    var menuControllerId = "<%= admin_menu.menuControllerId %>";
    //console.log(MCJS.controllerList); //экспорт данных в JS см. expose
    var $menuEditForm = $('#menuEditForm');
    var $menuControllerId = $menuEditForm.find('#menuControllerId');
    var $menuPath = $menuEditForm.find('#menuPath');
    var $menuPid = $menuEditForm.find('#menuPid');
    var $menuAfterId = $menuEditForm.find('#menuAfterId');
    var inBegin = '<option value="0">в начале</option>';
    
    function subMenuItem(pid, mId)
    {
        $menuAfterId.empty().append(inBegin);

        if(this.value == "0") return;
        var mOption = '';
        var j = 0;
        for(var i in MCJS.menuList)
        {
            j = parseInt(i, 10)+1;
            var mItem = MCJS.menuList[i];
            if(mId == mItem["m_id"]) continue;

            var selected = '';//selected="selected"
            if(MCJS.menuList[j] && MCJS.menuList[j]["m_id"] == mId)
                selected = 'selected="selected"';
            
            if(mItem["m_pid"] == pid)
            {
                mOption += '<option value="'+mItem["m_id"]+'" '+selected+' >после '+mItem["m_name"]+'</option>';
            }
        }
        $menuAfterId.append(mOption);
    }

    subMenuItem(menuPid, menuId);
    
    $menuPid.change(function(){
        subMenuItem(this.value, menuId);
    });
    
    if(MCJS.formError && MCJS.formError.error == true)
    {
        $.each(MCJS.formError.fields,  function(fId, fV)
        {
            if(fV) $menuEditForm.find('#'+fId).closest('.form-group').addClass("has-error");
            else $menuEditForm.find('#'+fId).closest('.form-group').removeClass("has-error");
        });
    }
/*
	$('form#loginForm').submit(function(event){
		event.preventDefault();

		var formData = $(this).serialize();

		$.ajax({
			url: "/login",
			method: "POST",
			data: formData,
			dataType: "json"
		})
		.done(function(data) {
			console.log( data );
			//alert(data.title);
		})
		.fail(function(data) {
			console.log( data );
		});
		return false;
	});
 */
});
//-->
</script>