<%  if(!_isXHR){%><%- layout('layout/user/index.ejs') %><% } %>
<ol class="breadcrumb">
	<li><a href="<%=menuItem['m_path']%>/"><%=menuItem['m_name']%></a></li>
	<li><a href="<%=(menuItem['m_path']+'/'+user['u_id']+'/')%>"><%=user['u_display_name']%></a></li>
	<% if (videoMove){%>
	<li><a href="<%=[menuItem['m_path'],user['u_id'],videoMove['va_id'],videoMove['va_alias']].join('/')%>/"><%=videoMove['va_name']%></a></li>
	<li><%=videoMove['v_name']%></li>
	<%} %>
</ol>
<%- include toolbar.ejs %>
<h1><%=_pageH1%></h1>
<div class="row mediaWrapper videoAlbums js-mediaWrapper">
	<div class="col-xs-12 col-sm-12 col-md-12"><%
		if (videoAlbum)
		{
			if (videoMove){%><%- include move.ejs %><%}
			else {%><%- include video.ejs %><%}
		}
		else if (videoAlbums) { %><%- include video_list.ejs %><%} %>
	</div>
</div>
<%- include ../../../pages/index.ejs %>
<script type="text/javascript" src="/js/jquery/video_album.js"></script>
<script type="text/javascript">
//<!--
(function($)
{
	var videoAlbumProps = {
		uri: '<%=_reqBaseUrl%>'
		, albumToolbar: '.js-toolbar a[data-action]'
		, albumWrapper: '.js-mediaWrapper .js-video-albums'
		, albumVideos: '.js-video'
		, albumVideoTools: '.js-video-tools > a'
		, albumName: '#va_name'
		, albumText: '#va_text'
		, u_id: '<%=(_user["u_id"])%>'
	};
	<% if(videoAlbum && videoAlbum["va_is_owner"]) { %>
	videoAlbumProps["sortable"] = (<%=(videoAlbum && videoAlbum["u_id"] == _user["u_id"])%>);
	<%}%>
	$.videoAlbum(videoAlbumProps);
})($);
//-->
</script>