<h4><span class="label label-default displayInlineBlock"><i class="fa fa-fw fa-video-camera"></i>&nbsp;<span class="mediaImgCnt js-mediaImgCnt"><%=videoAlbum["va_cnt"]%></span></span>&nbsp;<span id="va_name"><%=videoAlbum["va_name"]%></span></h4>

<% if (videoAlbum["va_text"]){%><p id="va_text"><%=videoAlbum["va_text"]%></p><%}%>
<div class="mediaList js-video-albums"><%
	videoAlbum["videos"].forEach(function (video)
	{
		let img = '';
		if(video["v_img"])
			img = '<img src="'+video['v_img']+'" alt="'+video['v_name']+'"/>';
		else
			img = '<img src="/img/no_image.png" alt="'+video['v_name']+'" class="noImg"/>';
	%><div class="media js-mdeia" data-video-id="<%=video["v_id"]%>">
		<a class="mediaImg js-video" href="javascript:void(0);" data-video-id="<%=video["v_id"]%>"><%-img%></a>
		<div class="mediaTools videoTools js-video-tools">
			<a href="javascript:void(0);" title="удалить" data-toggle="tooltip" data-action="delete_video" data-video-id="<%=video["v_id"]%>"><i class="fa fa-fw fa-trash-o"></i></a>
		</div>
		<div class="mediaTitle">
			<div class="mediaName"><%=video["v_name"]%></div>
			<% if(video["v_text"]){%><div class="mediaText"><%=video['v_text']%></div><%}%>
		</div>
	</div><%})%>
</div>