<h4><span class="label label-default displayInlineBlock"><i class="fa fa-fw fa-video-camera"></i>&nbsp;<span class="albumImgCnt"><%=videoAlbum["va_cnt"]%></span></span>&nbsp;<span id="va_name"><%=videoAlbum["va_name"]%></span></h4>

<% if (videoAlbum["va_text"]){%><p id="va_text"><%=videoAlbum["va_text"]%></p><%}%>
<div class="albumList"><%
	videoAlbum["videos"].forEach(function (video)
	{
		let img = '';
		if(video["v_img"])
			img = '<img src="'+video['v_img']+'" alt="'+video['v_name']+'"/>';
		else
			img = '<img src="/img/no_image.png" alt="'+video['v_name']+'" class="noImg"/>';

	%><div class="album">
		<a class="albumImg" href="<%=[_reqBaseUrl, videoAlbum['u_id'], videoAlbum['va_id'], videoAlbum['va_alias'], video['v_id'], video['v_alias']].join('/')%>/"><%-img%></a>
		<div class="albumTools">
			<span class="badge"><i class="fa fa-fw fa-video-camera"></i> TODO</span>
		</div>
		<div class="albumTitle">
			<div class="albumName"><%=video["v_name"]%></div>
			<% if(video["v_text"]){%><div class="albumText"><%=video['v_text']%></div><%}%>
		</div>
	</div><%})%>
</div>