<div class="mediaList"><%
		let mediaCss = (addUsersAva ? ' user ' : '');
albums.forEach(function (album)
{
	let img = '';
	if(album["previews"]["512_384"])
		img = '<img src="'+album["previews"]["512_384"]+'" alt="'+album["a_name"]+'"/>';
	else
		img = '<img src="/img/no_image.png" alt="'+album["a_name"]+'" class="noImg"/>';

		let albumHref = [_reqBaseUrl,album["u_id"],album["a_id"]].join('/')+'/';
%><div class="media <%-mediaCss%>"><%
 if (addUsersAva){ let user_owner = album['user']; %><%- include ../../owner.ejs %><% } %>
	<a class="mediaImg" href="<%=albumHref%>"><%-img%></a>
	<div class="mediaTools">
		<span class="badge"><i class="fa fa-fw fa-camera"></i> <%=(album["file_cnt"] > 99 ? '99+' : album["file_cnt"])%>
		<i class="fa fa-fw fa-calendar"></i> <%=album["dt_create_ts"]%></span>
	</div>
	<a class="mediaTitle" href="<%=albumHref%>" title="<%=album["a_name"]%>">
		<div class="mediaName"><%=album["a_name"]%></div>
		<% if (album["a_text"]){%><div class="mediaText"><%=album["a_text"]%></div><%}%>
	</a>
</div><%})%>
</div>
