<h3>Фотоальбомы <%=(user.u_login ? user.u_login : (user.u_name || user.u_surname ? [user.u_name, user.u_surname].join(' ') : ''))%></h3>
<div class="albumList">
<% albums.forEach(function (album)
{
//let imgSrc = (album["previews"]["320_213"] ? album["previews"]["320_213"] : '/_0.gif');
let imgSrc = (album["previews"]["320_213"] ? album["previews"]["320_213"] : null);
%>
<div class="album">
	<a class="albumImg" href="<%=(_reqBaseUrl+'/'+album["u_id"]+'/'+album["a_id"])%>/">
		<%if(imgSrc){%><img src="<%=imgSrc%>" alt="<%=album["a_name"]%>"/><%} else{%><i class="fa fa-fw fa-camera fa-5x"></i><%}%>
	</a>
	<div class="albumTools">
		<span class="badge"><i class="fa fa-fw fa-camera"></i> <%=album["a_img_cnt"]%></span>
	</div>
	<div class="albumTitle">
		<div class="albumName"><%=album["a_name"]%></div>
		<% if (album["a_text"]){%><div class="albumText"><%=album["a_text"]%></div><%}%>
	</div>
</div>
<%})%>
</div>
