<%  if(!_isXHR){%><%- layout('layout/user/index') %><% }%>
<div class="row album-list-toolbar">
	<div class="btn-toolbar" role="toolbar" aria-label="Опции для фотоальбомов">
		<%  if(user && user["u_is_owner"]){%>
		<div class="btn-group btn-group-sm" role="group" aria-label="Опции для фотоальбомов">
			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="fa fa-fw fa-cog"></span> опции <span class="caret"></span></button>
			<ul class="dropdown-menu ">
			<% if(album && album["a_is_owner"] && album["a_named"]){ %>
				<li><a href="javascript:void(0)" id="btn_album_upload"><span class="fa fa-fw fa-cloud-upload"></span> загрузить фотографии</a></li>
				<li><a href="javascript:void(0)" id="btn_edit_album_modal"><span class="fa fa-fw fa-edit"></span> изменить описание</a></li>
				<li><a href="javascript:void(0)"><span class="fa fa-fw fa-trash-o"></span> удалить альбом</a></li>
				<li role="separator" class="divider"></li>
			<% } %>
				<li><a href="javascript:void(0)" id="btn_add_album_modal"><span class="fa fa-fw fa-plus-square-o"></span> создать новый альбом</a></li>
			</ul>
		</div>
		<% }
		if(album){ %>
		<div class="btn-group btn-group-sm" role="group" aria-label="список альбомов">
			<a href="<%=_reqBaseUrl+(user ? '/'+user.u_id : '')%>/" class="btn btn-default"><span class="fa fa-fw fa-list"></span> все альбомы</a>
		</div>
		<% } %>
	</div>
</div>
<div class="row albums">
	<div class="col-xs-12 col-sm-12 col-md-12">
	<% if(albums){ %><%- include album_list.ejs %><% } %>
	<% if(album){ %><%- include image_list.ejs %><% } %>
	</div>
</div>
<%- include ../../../pages/index.ejs %>
<script type="text/javascript" src="/js/jquery/postRes.js"></script>
<script src="/js/uploadify/jquery.uploadify.min.js" type="text/javascript" ></script>
<script src="/js/uploadify/jquery.uploadifive.min.js" type="text/javascript" ></script>
<script src="/js/uploadify/jquery.fileUpload.js" type="text/javascript"></script>
<script src="/js/mcMap.js" type="text/javascript"></script>
<script type="text/javascript" src="/js/jquery/mcAlbum.js"></script>
<script type="text/javascript">
//<!--
(function($)
{
	var mcAlbumProps = {
		uri: '<%=_reqBaseUrl%>'
		, albumToolbar: '.album-list-toolbar'
		, albumWrapper: '.albums .imageList'
		, albumImages: '.image'
		, albumName: '#a_name'
		, albumText: '#a_text'
		, u_id: '<%=(user["u_id"])%>'
	};
	<% if(album && album["a_is_owner"]) { %>
	mcAlbumProps["s_token"] = '<%=(typeof s_token == 'undefined' ? '' : s_token)%>';
	mcAlbumProps["i_time"] = '<%=(typeof i_time == 'undefined' ? '' : i_time)%>';
	mcAlbumProps["sortable"] = (<%=(album && album["u_id"] == _user["u_id"])%>);
	<%}%>
	$('mcAlbum').mcAlbum(mcAlbumProps);
})($);
//-->
</script>