<h3>Фотоальбомы <%=(user.u_login ? user.u_login : (user.u_name || user.u_surname ? [user.u_name, user.u_surname].join(' ') : ''))%></h3>
<div class="albumList">
<% albums.forEach(function (album)
{
let img = '';
if(album["previews"]["512_384"])
{
	img = '<img src="'+album["previews"]["512_384"]+'" alt="'+album["a_name"]+'"/>';
}else{
	img = '<img src="/img/no_image.png" alt="'+album["a_name"]+'" class="noImg"/>';
}
%>
<div class="album">
	<a class="albumImg" href="<%=(_reqBaseUrl+'/'+album["u_id"]+'/'+album["a_id"])%>/"><%-img%></a>
	<div class="albumTools">
		<span class="badge"><i class="fa fa-fw fa-camera"></i> <%=album["a_img_cnt"]%></span>
	</div>
	<div class="albumTitle">
		<div class="albumName"><%=album["a_name"]%></div>
		<% if (album["a_text"]){%><div class="albumText"><%=album["a_text"]%></div><%}%>
	</div>
</div>
<%})%>
</div>
