<% albums.forEach(function (album)
{
//let imgSrc = (album["previews"]["320_213"] ? album["previews"]["320_213"] : '/_0.gif');
let imgSrc = (album["previews"]["320_213"] ? album["previews"]["320_213"] : null);
%>
<div class="album">
	<a class="albumImg" href="<%=album["a_id"]%>/">
		<%if(imgSrc){%><img src="<%=imgSrc%>" alt="<%=album["a_name"]%>"/><%} else{%><i class="fa fa-fw fa-camera"></i><%}%>
	</a>
	<div class="albumTools">
		<span class="badge"><i class="fa fa-fw fa-camera"></i> <%=album["a_img_cnt"]%></span>

	</div>
	<div class="albumTitle">
		<div class="albumName"><%=album["a_name"]%></div>
		<% if (album["a_text"]){%><div class="albumText"><%=album["a_text"]%></div><%}%>
	</div>
</div>
<%})%>

