<%  if(!isXHR){%><%- layout('layout/user/index') %><% }%>
<div class="col-xs-12 col-sm-12 col-md-12 album-list-toolbar">
	<div class="btn-toolbar btn-toolbar" role="toolbar" aria-label="Опции для фотоальбомов">
		<div class="btn-group btn-group-xs" role="group" aria-label="список альбомов">
			<a href="/profile/photo/" class="btn btn-primary">все альбомы</a>
		</div>
		<div class="btn-group btn-group-xs" role="group" aria-label="Second group">
			<button type="button" class="btn btn-primary" id="btn_add_album_modal">создать новый альбом</button>
		</div>
		<% if(album){ %>
		<div class="btn-group btn-group-xs" role="group" aria-label="Third group">
			<button type="button" class="btn btn-primary" id="btn_album_upload">загрузить новые фотографии</button>
		</div>
		<% } %>
	</div>
</div>
<div class="col-xs-12 col-sm-12 col-md-12 albums">
<% if(albums){ %><%- include album_list.ejs %><% } %>
<% if(album){ %><%- include image_list.ejs %><% } %>
</div>
<script type="text/javascript" src="/js/jquery/postRes.js"></script>
<script type="text/javascript" src="/js/jquery/mcAlbum.js"></script>
<script type="text/javascript">
//<!--
$(function()
{
	$('mcAlbum').mcAlbum({
		uri: '<%=menuItem.m_path%>'
		, albumToolbar: '.album-list-toolbar'
		, s_token: '<%=s_token%>'
		, i_time: '<%=i_time%>'
		, a_id: '<%=a_id%>'
	});
});
//-->
</script>