<%  if(!isXHR){%><%- layout('layout/user/index') %><% }%>
<div class="row album-list-toolbar">
	<div class="btn-toolbar btn-toolbar" role="toolbar" aria-label="Опции для фотоальбомов">
		<div class="btn-group btn-group-xs" role="group" aria-label="список альбомов">
			<a href="/profile/photo/" class="btn btn-primary">все альбомы</a>
		</div>
		<div class="btn-group btn-group-xs" role="group" aria-label="создать новый альбом">
			<button type="button" class="btn btn-primary" id="btn_add_album_modal">создать новый альбом</button>
		</div>
		<% if(album){ %>
		<div class="btn-group btn-group-xs" role="group" aria-label="загрузить новые фотографии">
			<button type="button" class="btn btn-primary" id="btn_album_upload">загрузить новые фотографии</button>
		</div>
		<% } %>
	</div>
</div>
<div class="row albums">
	<div class="col-xs-12 col-sm-12 col-md-12">
	<% if(albums){ %><%- include album_list.ejs %><% } %>
	<% if(album){ %><%- include image_list.ejs %><% } %>
	</div>
</div>
<script type="text/javascript" src="/js/jquery/postRes.js"></script>
<script src="/js/uploadify/jquery.uploadify.min.js" type="text/javascript" ></script>
<script src="/js/uploadify/jquery.uploadifive.min.js" type="text/javascript" ></script>
<script src="/js/uploadify/jquery.fileUpload.js" type="text/javascript"></script>
<script src="/js/mcMap.js" type="text/javascript"></script>
<script type="text/javascript" src="/js/jquery/mcAlbum.js"></script>
<script type="text/javascript">
//<!--
$(function()
{
	$('mcAlbum').mcAlbum({
		uri: '<%=menuItem.m_path%>'
		, albumToolbar: '.album-list-toolbar'
		, albumWrapper: '.albums .imageList'
		, albumImages: '.image'
		, s_token: '<%=(typeof s_token == 'undefined' ? '' : s_token)%>'
		, i_time: '<%=(typeof i_time == 'undefined' ? '' : i_time)%>'
		, a_id: '<%=(typeof a_id  == 'undefined'? '' : a_id)%>'
	});
});
//-->
</script>