<div class="mediaList"><%
albums.forEach(function (album)
{
	let img = '';
	if(album["previews"]["512_384"])
		img = '<img src="'+album["previews"]["512_384"]+'" alt="'+album["a_name"]+'"/>';
	else
		img = '<img src="/img/no_image.png" alt="'+album["a_name"]+'" class="noImg"/>';
%><div class="media">
	<a class="mediaImg" href="<%=(_reqBaseUrl+'/'+album["u_id"]+'/'+album["a_id"])%>/"><%-img%></a>
	<div class="mediaTools">
		<span class="badge"><i class="fa fa-fw fa-camera"></i> <%=(album["a_img_cnt"] > 99 ? '99+' : album["a_img_cnt"])%>
		<i class="fa fa-fw fa-calendar"></i> <%=album["dt_create_ts"]%></span>
	</div>
	<div class="mediaTitle">
		<div class="mediaName"><%=album["a_name"]%></div>
		<% if (album["a_text"]){%><div class="mediaText"><%=album["a_text"]%></div><%}%>
	</div>
</div><%})%>
</div>
