<h4><span class="label label-default displayInlineBlock"><i class="fa fa-fw fa-camera"></i>&nbsp;<span class="albumImgCnt"><%=album["a_img_cnt"]%></span></span>&nbsp;<span id="a_name"><%=album["a_name"]%></span></h4>
<% if (album["a_text"]){%><p id="a_text"><%=album["a_text"]%></p><%}%>
<div class="imageList">
<% album["images"].forEach(function (image)
{
	let imgSrc = (image["previews"] && image["previews"]["320_213"] ? image["previews"]["320_213"] : '/_0.gif');
%>
<div class="image ">
	<img src="<%=imgSrc%>" alt="<%=image["ai_text"]%>" data-img-id="<%=image["ai_id"]%>"/>
</div>
<%})%>
</div>