<div class="blog-author">
	<a class="blog-author_user" href="/profile/<%=blog['user']['u_id']%>"><%
		let ava = (blog['user']['previews'] && blog['user']['previews']['50_50']);
		let avaSrc = (ava ? blog['user']['previews']['50_50'] : '/_0.gif');%><img class="img-circle img-responsive <%=(ava ? '':'hidden')%>" src="<%=avaSrc%>" /><i class="fa fa-user <%=(ava ? 'hidden':'')%>"></i></a>
	<div class="blog-author_data"><%=blog['user']['u_display_name']%></div>
	<div class="" style="display: table-cell;
    vertical-align: top;
    padding: 3px;">Тема: <a href="<%=[_reqBaseUrl,'subj', blog["bs_id"], blog["bs_alias"]].join('/')%>/"><%=blog['bs_name']%></a></div>
</div>
<h2><span class="badge"><%=blog['dt_create_ts']%></span> <%-blog['b_title']%></h2>
<div class="row blogData">
	<div class="col-xs-12 col-md-12 blogText"><%-blog['b_text']%></div>
	<div class="col-xs-12 col-md-12"><%- include blog_images.ejs %></div>
</div>
<script src="/js/jquery/mcImage.js" type="text/javascript"></script>
<script type="text/javascript">
//<!--
(function($)
{
	var blog = MCJS["blogData"] || {};

	$('mcImageBlog').mcImage({
		imgFieldId: "bi_id"//название поля id у картинки в json'e
		, albumImages: '.blogData img.image' //селектор для списка картинок
		, albumImagesMain: '.blogData .blogText img.image'
		, albumImagesSub: '.blogData .imagesWrapper .imagesContainer img.image'
		, albumImagesSubWrapper: '.blogData .imagesWrapper'
		, jsonImageList: blog["blogImages"] || {}
		, jsPreviewsList: blog["blogImagesPreviews"] || []
	});
})(jQuery);
//-->
</script>