<%
let blogBaseUrl = [menuItem['m_path']];

if (user && user['u_id'])
{
	blogBaseUrl.push(user['u_id']);
	if (blogDraft)
		blogBaseUrl.push('draft');
}
blogBaseUrl = blogBaseUrl.join('/');
let user_owner = blog['user'];

%><div class="blog-info"><%- include ../user/owner.ejs %>
	<div class="blog-info_about">
		<div class="blog-info_about_subj">Тема: <a href="<%=[blogBaseUrl,'subj', blog["bs_id"], blog["bs_alias"]].join('/')%>/"><%=blog['bs_name']%></a></div><%
		if (blog['kw_names'].length>0){%>
		<div class="blog-info_about_tags"><i class="fa fa-tags" aria-hidden="true"></i>
		<%-(blog['kw_names'].map(function(kw_name){return `<a rel="tag" class="line" href="/blog/tag/${kw_name}/">${kw_name}</a>`;}).join(' '))%>
		</div><%}%>
	</div>
</div>
<h2><span class="badge"><%=blog['dt_create_ts']%></span> <%-blog['b_title']%></h2>
<div class="row blogData">
	<div class="col-xs-12 col-md-12 blogText"><%-blog['b_text']%></div>
	<div class="col-xs-12 col-md-12"><%- include blog_images.ejs %></div>
</div>
<script src="/js/jquery/mcImage.js" type="text/javascript"></script>
<script type="text/javascript">
//<!--
(function($)
{
	var blog = MCJS["blogData"] || {};

	$('mcImageBlog').mcImage({
		imgFieldId: "f_id"//название поля id у картинки в json'e
		, albumImages: '.blogData img.image' //селектор для списка картинок
		, albumImagesMain: '.blogData .blogText img.image'
		, albumImagesSub: '.blogData .imagesWrapper .imagesContainer img.image'
		, albumImagesSubWrapper: '.blogData .imagesWrapper'
		, jsonImageList: blog["blogImages"] || {}
		, jsPreviewsList: blog["blogImagesPreviews"] || []
	});
})(jQuery);
//-->
</script>