<%  if(!_isXHR){%><%- layout('layout/default') %><% } %>
<%- include toolbar.ejs %>
<h1><%=_pageH1%></h1>
<% if(blog && ['edit', 'add'].indexOf(_action) != -1){ %><%- include edit.ejs %><% }
else if (blog){%><%- include blog.ejs %><%}
else if (blogList){%>
<%- include list.ejs %>
<%- include ../pages/index.ejs %><%} %>