<div class="row">
	<div class="notice-container blog-container"><%
blogList.forEach(function (bItem)
{
	let hasImg = (!!bItem["previews"]["512_384"]);
	let imgSrc = (hasImg ? bItem["previews"]["512_384"] : '/_0.gif');
	let blogHref = [_reqBaseUrl];
	if (user && user['u_id'])
		blogHref.push(user['u_id']);
	
	blogHref.push(bItem["b_id"], bItem["b_alias"]);
	
%><div class="notice-item blog-item" style="background-image: url('<%=imgSrc%>');">
<% let user_owner = bItem['user']; %><%- include ../user/owner.ejs %>
	<div class="blog-item-subject"><a href="<%=['subj', bItem["bs_id"], bItem["bs_alias"]].join('/')%>/"><%=bItem["bs_name"]%></a></div>
	<a class="notice-item-info blog-item-info" href="<%=blogHref.join('/')%>/" title="<%=bItem["b_title"]%>">
		<div class="notice-item-info-date">
			<i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;<%=bItem["dt_create_ts"]%>
		</div>
		<div class="notice-item-info-text"><p><%=bItem["b_title"]%></p><p><%-bItem["b_notice"]%></p></div>
	</a>
</div><%
}); %></div>
</div>
<%- include ../pages/index.ejs %>
<script type="text/javascript">
//<!--
if (MCJS['pages'] && Pagination)
{
	MCJS['pages']['ajaxDataSrc'] = ['blogList'];
	MCJS['pages']['ajaxDataTarget'] = 'blogList';
	MCJS['pages']['jQuerySelector'] = '.notice-container .notice-item';
	Pagination.init();
}
//-->
</script>