<h4><%=(motoshop.mts_name ? 'редактирование' : 'добавление')%> мотосалона</h4>
<ul class="nav nav-pills nav-justified" role="tablist">
	<li class="active" role="presentation"><a href="#base" aria-controls="base" role="tab" data-toggle="tab"><i class="fa fa-cog"></i> Основное</a></li>
	<% if (_action == 'edit') {%>
	<li role="presentation"><a href="#contacts" aria-controls="contacts" role="tab" data-toggle="tab"><i class="fa fa-map-marker "></i> Контакты</a></li>
	<% }%>
</ul>
<!-- Tab panes -->
<div class="panel panel-default">
	<div class="panel-body tab-content">
		<div role="tabpanel" class="tab-pane active" id="base">
			<% if (_action == 'add') {%><p class="text-center">После сохранения основных данных, Вы сможете указать список адресов.</p><% }%>
			<form class="form-horizontal" action="<%=menuItem.m_path+'/'+_action%>/" method="post" id="formMotoshop">
			<div class="form-group s_mts_name">
				<label class="col-sm-2 control-label">название *</label>
				<div class="col-sm-5">
					<input type="hidden" id="i_mts_id" name="i_mts_id" value="<%=motoshop.mts_id%>" />
					<input type="text" class="form-control" id="s_mts_name" name="s_mts_name" value="<%=motoshop.mts_name%>" placeholder="название мотосалона" required="required" />
				</div>
				<div class="col-sm-5 checkbox b_mts_show">
					<label><input type="checkbox" name="b_mts_show" <% if (motoshop.mts_show == '1'){ %>checked="checked"<%}%> />да</label>
					<span class="help-block">опубликовать?</span>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">контакты *</label>
				<div class="col-sm-5 link_mts_website">
					<input type="text" class="form-control" id="link_mts_website" name="link_mts_website" value="<%=motoshop.mts_website%>" placeholder="веб-сайт" required="required" maxlength="255" />
					<span class="help-block">веб-сайт</span>
				</div>
				<div class="col-sm-5 m_mts_email">
					<input type="text" class="form-control" id="m_mts_email" name="m_mts_email" value="<%=motoshop.mts_email%>" placeholder="E-mail" required="required" maxlength="255" />
					<span class="help-block">E-mail</span>
				</div>
			</div>
			<div class="form-group t_mts_descrip">
				<label for="t_mts_descrip" class="col-sm-2 control-label">описание</label>
				<div class="col-sm-10">
					<textarea class="form-control" style="height: 250px;" id="t_mts_descrip" name="t_mts_descrip" placeholder="описание мотосалона"><%=motoshop.mts_descrip%></textarea>
				</div>
			</div>
			<div class="form-group">
				<div class="col-xs-offset-5 col-sm-offset-5 ">
					<input type="hidden" name="btn_save_motoshop" value="main"/>
					<button type="submit" class="btn btn-primary" id="btn_edit_motoshop" value="1" data-loading-text="сохраняю..." autocomplete="off">сохранить</button>
				</div>
			</div>
			</form>
		</div>
		<% if (_action == 'edit') {%>
		<div role="tabpanel" class="tab-pane" id="contacts">
			<p class="text-center">
				<a class="btn btn-primary btn-sm _js_address_tools" href="javascript:void(0);" data-action="add_address" role="button">добавить новый адрес</a>
			</p>
			<div class="motoshopAddressList _js_motoshopAddressList">
			<% motoshop.address_list.forEach(function (address)
			{
				%>
				<div class="motoshopAddress">
					<div class="motoshopAddressTools">
						<a class="btn btn-default btn-xs _js_address_tools" href="javascript:void(0);" data-mtsa-id="<%=address["mts_address_id"]%>" data-action="edit_address" role="button">редактировать</a>
						<a class="btn btn-default btn-xs _js_address_tools" href="javascript:void(0);" data-mtsa-id="<%=address["mts_address_id"]%>" data-action="del_address" role="button">удалить</a>
					</div>
					<div><span class="mts-address">адрес:</span> <%=address["mts_address"]%></div>
					<div><span class="mts-address-website">сайт:</span> <%=address["mts_address_website"]%></div>
					<div><span class="mts-address-email">e-mail:</span> <%=address["mts_address_email"]%></div>
					<div><span class="mts-address-phones">тел.:</span> <%=address["mts_address_phones"]%></div>
				</div>
				<%
			});%>
			</div>
		</div>
		<% } %>
	</div>
</div>
<script src="/js/mcMap.js" type="text/javascript"></script>
<script src="/js/jquery/postRes.js" type="text/javascript" ></script>
<script src="/js/mcTinymce.js" type="text/javascript" ></script>
<script type="text/javascript">
//<!--
(function($)
{
	var mtsDescripTinymce = McTinymce({
		selector: '#t_mts_descrip'
	}, "default");

	$('#formMotoshop').postRes({btnId: 'btn_edit_motoshop',
		beforeSubmit: function ()
		{
			return mtsDescripTinymce.then(function (editor)
			{
				McTinymce.tinymce.triggerSave();
			});
		},
		onSuccess: function($dialog, respData)
		{
			if (respData["i_mts_id"])
				window.location.href = "<%=menuItem.m_path%>/edit/" +respData["i_mts_id"] +'/';

			return false;
		}
	});

	var MtsMap = {
		mtsPlacemark: null,
		address: {},
		init: function(addressData)
		{
			MtsMap.addressData = addressData  || {};

			var mapState = {
				controls: ["zoomControl", "searchControl", "typeSelector"]
				, zoom: 15
				, type: 'yandex#hybrid'
				, behaviors: ["default"]
			};
			var mapOptions = {};
			var MtsMcMap = new McMap('mtsAddressMap', {state: mapState, options: mapOptions});

			MtsMcMap.init()
					.then(function (AddrMap)
					{
						AddrMap.behaviors.disable('multiTouch');
						//AddrMap.behaviors.disable('scrollZoom');

						AddrMap.geoObjects.removeAll();

						MtsMap.addPlaceMark(AddrMap);

						var searchControl = AddrMap.controls.get("searchControl");
						searchControl.options.set("float", "right");

						searchControl.events.add('submit', function ()
						{
							//console.log('request: ' + searchControl.getRequestString());
						}, this);
						searchControl.events.add('resultselect', function (res)
						{
							/*res.stopPropagation();
							 res.preventDefault();
							 res.stopImmediatePropagation();
							 */
							searchControl.hideResult();
							searchControl.getResult(res.get('index'))
									.then(function (result)
									{
										//console.log('result = ', result);
										//console.log('result.geometry.getCoordinates() = ', result.geometry.getCoordinates());
										//console.log("result.properties.get('name') = ", result.properties.get('name'));
										//console.log("result.properties.get('text') = ", result.properties.get('text'));

										var text = result.properties.get('text') || result.properties.get('geocoderMetaData.text');

										MtsMap.updPlaceMark(AddrMap, text, result.geometry.getCoordinates());
									})
									.fail(function (err)
									{
										MtsMap.updPlaceMark(AddrMap, err.message, [], err);
									});
						}, this);

						/* когда кликаем по карте */
						AddrMap.events.add('click', function (event)
						{
							var coords = event.get('coords');
							console.log('click by coords', coords);
							//return McMap.locationByLatLng(coords[0], coords[1], 'house')
							return McMap.locationByLatLng(coords)
									.then(function(location)
									{
										MtsMap.updPlaceMark(AddrMap, location.text, location.coords);
									})
									.fail(function(err)
									{
										MtsMap.updPlaceMark(AddrMap, err.message, coords, err);
									});
						});

						return ymaps.vow.resolve(AddrMap);
					})
					.fail(function (err)
					{
						console.log(err);
					});
		},

		addPlaceMark: function(AddrMap)
		{
			var address = (MtsMap.addressData["mts_address"] ? MtsMap.addressData["mts_address"] : '');

			var center = [];
			if (MtsMap.addressData["mts_address_latitude"] && MtsMap.addressData["mts_address_longitude"])
				center = [MtsMap.addressData["mts_address_latitude"], MtsMap.addressData["mts_address_longitude"]];
			else
				center = AddrMap.getCenter();

			var iconContent = (MCJS["motoshop"] && MCJS["motoshop"]["mts_name"] ? MCJS["motoshop"]["mts_name"] : 'МотоСалона на карте');
			var contentHeader = iconContent;
			var contentBody =   '<p>Чтобы указать место расположения объекта, найдите его с помощью поисковой строки, ' +
					'или кликните мышкой по карте.</p>';

			var contentFooter = '<p><strong>Сейчас указан:</strong><br/>';
			contentFooter += (address ? address+'<br/>' : '');
			contentFooter += center.join(', ') + '</p>';

			MtsMap.mtsPlacemark = new ymaps.Placemark(
					center
					,	{
						/* Свойства*/
						iconContent: iconContent
						, iconCaption: iconContent
						,	balloonContentHeader: contentHeader
						,	balloonContentBody: contentBody
						,	balloonContentFooter: contentFooter
					}
					,   {
						/* Опции*/
						//preset: 'islands#blueStretchyIcon' /* иконка растягивается под контент */
						//preset: 'islands#blueBicycle2Icon
						preset: 'islands#blueDotIconWithCaption'
						,	draggable: true
					});

			/* когда двигаем метку */
			MtsMap.mtsPlacemark.events.add('dragend', function (e)
			{
				var thisPlacemark = e.get('target');
				var coords = thisPlacemark.geometry.getCoordinates();

				return McMap.locationByLatLng(coords)
						.then(function (location)
						{
							MtsMap.updPlaceMark(AddrMap, location.text, location.coords);
						})
						.fail(function(err)
						{
							MtsMap.updPlaceMark(AddrMap, err.message, coords, err);
						});
			});

			AddrMap.geoObjects.add(MtsMap.mtsPlacemark);
			AddrMap.setCenter(center);
		},

		updPlaceMark: function(AddrMap, text, coords, err)
		{
			var contentFooter = '<p><strong>Сейчас указан:</strong><br/>' +
					text + '<br/>' +
					coords.join(', ') +
					'</p>';

			MtsMap.mtsPlacemark.properties.set('balloonContentFooter', contentFooter);
			MtsMap.mtsPlacemark.geometry.setCoordinates(coords);

			var $form = $('form#formAddressMts');
			var $address = $form.find('#s_mts_address');
			var $lat = $form.find('#f_mts_address_lat');
			var $lng = $form.find('#f_mts_address_lng');

			if (err)
			{
				$address.val('');
				$lat.val('');
				$lng.val('');

				return;
			}

			$address.val(text);
			$address.attr('data-original-title', text);
			$lat.val(coords[0]);
			$lng.val(coords[1]);
		}
	};

	$(document).on('click', '._js_address_tools', function (event)
	{
		event.preventDefault();

		var $this = $(this);

		switch($this.data('action'))
		{
			case 'add_address':
				showAddressForm($this, 'add_address');
				break;

			case 'edit_address':
				showAddressForm($this, 'edit_address', getAddressData($this.data('mtsaId')));
				break;

			case 'del_address':
				delAddressForm(getAddressData($this.data('mtsaId')));
				break;
		}
	});

	function delAddressForm(addressData)
	{
		var html = '<form class="form-horizontal" action="<%=_reqBaseUrl%>/" method="post" id="formDelAddress">' +
				'<input type="hidden" name="btn_save_motoshop" value="del_address"/>' +
				'<input type="hidden" name="i_mts_id" value="'+addressData['mts_id']+'"/>' +
				'<input type="hidden" name="i_mts_address_id" value="'+addressData['mts_address_id']+'"/>' +
				'<div class="form-group">' +
				'<div class="col-sm-12 text-center">' +
				'Удалить адрес: ' + addressData['mts_address'] + '?' +
				'</div>' +
				'</div>' +
				'</form>';

		$('__del_address_dialog__').mcDialog({
			title: 'Удаление адреса'
			, body: html
			, onOpen: function ($dialog)
			{
				$dialog.find('#formDelAddress').postRes({
					btnId: $dialog.find('#btn_del_address'),
					onSuccess: function($respDialog, resp)
					{
						if (resp.hasOwnProperty("formError") && resp["formError"].hasOwnProperty("error") && !resp["formError"]["error"])
						{
							window.location.href = '<%=_reqBaseUrl%>/'+addressData['mts_id']+'/';
							return false;//не показать диалог
						}
						return true;
					},
					onFail: function ($respDialog, resp)
					{
						$dialog.hide();
						return true;
					},
					onClose: function ($respDialog)
					{
						$dialog.show();
					}
				});
			}
			, buttons: [
				{
					title: 'да'
					, name: 'btn_del_address'
					, cssClass: 'btn-success'
				},
				{
					title: 'нет'
					,name: 'btn_del_address_cancel'
					,cssClass: 'btn-danger'
					,func:
					{
						"click": function(event)
						{
							$(event.data[0]).modal('hide');
						}
					}
				}
			]
		});
	}

	function getAddressData(mtsaId)
	{
		var aData = {};
		if (!MCJS.hasOwnProperty('motoshop') || !MCJS['motoshop'].hasOwnProperty('address_list'))
			return aData;

		$.each(MCJS['motoshop']['address_list'], function (i, item)
		{
			if (item['mts_address_id'] == mtsaId)
				aData = item;
		});

		return aData;
	}

	function showAddressForm($tool, action, addressData)
	{
		addressData = addressData || {};
		addressData["mts_id"]				= addressData["mts_id"]					|| MCJS["motoshop"]["mts_id"];
		addressData["mts_address_website"]	= addressData["mts_address_website"]	|| MCJS["motoshop"]["mts_website"];
		addressData["mts_address_email"]	= addressData["mts_address_email"]		|| MCJS["motoshop"]["mts_email"];
		addressData["mts_address_phones"] 	= addressData["mts_address_phones"]		|| '';
		addressData["mts_address"] 			= addressData["mts_address"]			|| '';
		addressData["mts_address_latitude"] = addressData["mts_address_latitude"]	|| '';
		addressData["mts_address_longitude"]= addressData["mts_address_longitude"]	|| '';
		addressData["mts_address_show"]		= addressData["mts_address_show"]		|| MCJS["motoshop"]["mts_address_show"];

		var htmlForm = '<form class="form-horizontal" action="<%=menuItem.m_path+'/'+_action%>/" method="post" id="formAddressMts">';
		htmlForm += '<input type="hidden" name="btn_save_motoshop" value="'+action+'"/>';
		htmlForm += '<input type="hidden" name="i_mts_id" value="'+addressData["mts_id"]+'"/>';
		htmlForm += '<input type="hidden" name="i_mts_address_id" value="'+addressData["mts_address_id"]+'"/>';

		htmlForm += '<ul class="nav nav-pills nav-justified" role="tablist">';
		htmlForm += '<li class="active" role="presentation"><a href="#address_contacts" aria-controls="address_contacts" role="tab" data-toggle="tab"><i class="fa fa-cog"></i> Контакты</a></li>';
		htmlForm += '<li role="presentation"><a href="#address_map" aria-controls="address_map" role="tab" data-toggle="tab"><i class="fa fa-map-marker "></i> Адрес</a></li>';
		htmlForm += '</ul>';


		htmlForm += '<div class="panel panel-default">';
			htmlForm += '<div class="panel-body tab-content">';
				htmlForm += '<div role="tabpanel" class="tab-pane active" id="address_contacts">';
		htmlForm += '<p class="text-center">Для каждого адреса можно задать свои: веб-сайт, e-mail, телефоны.<br/>По умолчанию, будут использоваться веб-сайт и e-mail, указанные в основных данных.</p>';
					htmlForm += '<div class="form-group b_mts_address_show">';
					htmlForm += '<label class="col-sm-2 control-label">опубликовать?</label>';
					htmlForm += '<div class="col-sm-10 checkbox"><label><input type="checkbox" name="b_mts_address_show" '+(parseInt(addressData["mts_address_show"], 10) ? 'checked="checked"' : '')+'/> да</label></div>';
					htmlForm += '</div>';
					htmlForm += '<div class="form-group s_address_website">';
					htmlForm += '<label class="col-sm-2 control-label">веб-сайт</label>';
					htmlForm += '<div class="col-sm-10 link_address_website">';
					htmlForm += '<input type="text" class="form-control" id="link_address_website" name="link_address_website" value="'+addressData["mts_address_website"]+'" placeholder="веб-сайт" />';
					htmlForm += '</div>';
					htmlForm += '</div>';
					htmlForm += '<div class="form-group m_address_email">';
					htmlForm += '<label class="col-sm-2 control-label">E-mail</label>';
					htmlForm += '<div class="col-sm-10">';
					htmlForm += '<input type="text" class="form-control" id="m_mts_address_email" name="m_mts_address_email" value="'+addressData["mts_address_email"]+'" placeholder="E-mail" />';
					htmlForm += '</div>';
					htmlForm += '</div>';
					htmlForm += '<div class="form-group s_mts_address_phones">';
					htmlForm += '<label for="s_address_phones" class="col-sm-2 control-label">телефон(-ы)</label>';
					htmlForm += '<div class="col-sm-10 s_mts_address_phones">';
					htmlForm += '<input type="text" class="form-control" id="s_mts_address_phones" name="s_mts_address_phones" value="'+addressData["mts_address_phones"]+'" placeholder="телефон(-ы)" />';
					htmlForm += '<span class="help-block">разделитель у номеров "," (запятая).</span>';
					htmlForm += '</div>';
					htmlForm += '</div>';
				htmlForm += '</div>';

				htmlForm += '<div role="tabpanel" class="tab-pane" id="address_map">';
					htmlForm += '<div class="form-group s_mts_address">';
					htmlForm += '<label class="col-sm-2 control-label">адрес *</label>';
					htmlForm += '<div class="col-sm-10">';
					htmlForm += '<input type="text" class="form-control" id="s_mts_address" name="s_mts_address" value="'+addressData["mts_address"]+'" placeholder="адрес" required="required" data-toggle="tooltip" data-container="body" data-placement="auto" title="">';
					htmlForm += '<span class="help-block">укажите адрес с помощью карты: через поиск адреса, или по клику на карте.</span>';
					htmlForm += '<input type="hidden" id="f_mts_address_lat" name="f_mts_address_lat" value="'+addressData['mts_address_latitude']+'" readonly="readonly" maxlength="20" required="required"  />';
					htmlForm += '<input type="hidden" id="f_mts_address_lng" name="f_mts_address_lng" value="'+addressData['mts_address_longitude']+'" readonly="readonly" maxlength="20" required="required"  />';
					htmlForm += '</div>';
					htmlForm += '</div>';
					htmlForm += '<div class="form-group" >';
					htmlForm += '<div class="col-sm-12" id="mtsAddressMap" style="height: 300px;"></div>';
					htmlForm += '</div>';
				htmlForm += '</div>';
			htmlForm += '</div>';
		htmlForm += '</div>';

		htmlForm += '</form>';

		let addMode = (action == 'add_address');

		var title = (addMode ? 'Добавить' : 'Изменить') + ' адрес';
			title += (addMode ? '' : ': '+addressData["mts_address"]);

		$('__address_form__').mcDialog({
			title: title
			, large: true
			, body: htmlForm
			, onOpen: function ($dialog)
			{
				MtsMap.init(addressData);

				$dialog.find('#formAddressMts').postRes({
					btnId: $dialog.find('#btn_save_address'),
					onSuccess: function($respDialog, resp)
					{
						var htmlAddress = '<div class="motoshopAddress">';
								htmlAddress += '<div class="motoshopAddressTools">';
									htmlAddress += '<a class="btn btn-default btn-xs _js_address_tools" href="javascript:void(0);" data-mtsa-id="'+resp["i_mts_address_id"]+'" data-action="edit_address" role="button">редактировать</a>';
									htmlAddress += '<a class="btn btn-default btn-xs _js_address_tools" href="javascript:void(0);" data-mtsa-id="'+resp["i_mts_address_id"]+'" data-action="del_address" role="button">удалить</a>';
								htmlAddress += '</div>';
							htmlAddress += '<div><span class="mts-address">адрес:</span> '+resp["s_mts_address"]+'</div>';
							htmlAddress += '<div><span class="mts-address-website">сайт:</span> '+resp["link_address_website"]+'</div>';
							htmlAddress += '<div><span class="mts-address-email">e-mail:</span> '+resp["m_mts_address_email"]+'</div>';
							htmlAddress += '<div><span class="mts-address-phones">тел.:</span> '+resp["s_mts_address_phones"]+'</div>';
						htmlAddress += '</div>';

						if (resp.hasOwnProperty("formError") && resp["formError"].hasOwnProperty("error") && !resp["formError"]["error"])
						{
							if (addMode)
							{
								updateJsMotoshopData(resp, true);
								$('._js_motoshopAddressList').prepend(htmlAddress);
							}
							else
							{
								updateJsMotoshopData(resp, false);
								$tool.parent().parent().replaceWith(htmlAddress);
							}

							$dialog.modal('hide');
							return false;//не показать диалог
						}
						return true;
					},
					onFail: function ($respDialog, resp)
					{
						//$dialog.modal('hide');
						$dialog.hide();
						return true;
					},
					onClose: function ($respDialog)
					{
						$dialog.show();
					}
				});
			}
			, buttons: [
				{
					title: 'сохранить'
					, name: 'btn_save_address'
					, cssClass: 'btn-success'
				},
				{
					title: 'закрыть'
					,name: 'btn_address_event_close'
					,cssClass: 'btn-danger'
					,func:
					{
						"click": function(event)
						{
							$(event.data[0]).modal('hide');
						}
					}
				}
			]
		});
	}

	function updateJsMotoshopData(respData, addMode)
	{
		if (!MCJS['motoshop'])
			MCJS['motoshop'] = {};

		if (!MCJS['motoshop']['address_list'])
			MCJS['motoshop']['address_list'] = [];

		var b_mts_address_show = (parseInt(respData['b_mts_address_show'], 10) ? '1' : '0');

		if (addMode)
		{
			MCJS['motoshop']['address_list'].push({

				mts_address:			respData['s_mts_address'],
				mts_address_email:		respData['m_mts_address_email'],
				mts_address_id: 		respData['i_mts_address_id'],
				mts_address_latitude: 	respData['f_mts_address_lat'],
				mts_address_longitude:	respData['f_mts_address_lng'],
				mts_address_phones:		respData['s_mts_address_phones'],
				mts_address_website:	respData['link_address_website'],
				mts_id:					respData['i_mts_id'],
				mts_address_show:		b_mts_address_show
			});
		}
		else
		{
			$.each(MCJS['motoshop']['address_list'], function (i, item)
			{
				if (item['mts_address_id'] == respData['i_mts_address_id'])
				{
					MCJS['motoshop']['address_list'][i]['mts_address']				= respData['s_mts_address'];
					MCJS['motoshop']['address_list'][i]['mts_address_email']		= respData['m_mts_address_email'];
					//MCJS['motoshop']['address_list'][i]['mts_address_id']			= respData['i_mts_address_id'];
					MCJS['motoshop']['address_list'][i]['mts_address_latitude']		= respData['f_mts_address_lat'];
					MCJS['motoshop']['address_list'][i]['mts_address_longitude']	= respData['f_mts_address_lng'];
					MCJS['motoshop']['address_list'][i]['mts_address_phones']		= respData['s_mts_address_phones'];
					MCJS['motoshop']['address_list'][i]['mts_address_website']		= respData['link_address_website'];
					MCJS['motoshop']['address_list'][i]['mts_address_show']			= b_mts_address_show;
					//MCJS['motoshop']['address_list'][i]['mts_id']					= respData['i_mts_id'];
				}
			});
		}
	}

})(jQuery);
//-->
</script>