<% if(motoshop && (_action =='edit' || _action =='add')){ %>
<%  if(!_isXHR){%><%- layout('layout/default') %><% } %>
<%- include toolbar.ejs %><h1><%=_pageH1%></h1>
<%- include edit.ejs %><%
}
else if (motoshop){%>
<%  if(!_isXHR){%><%- layout('layout/default') %><% } %>
<%- include toolbar.ejs %><h1><%=_pageH1%></h1>
<%- include motoshop.ejs %>
<%}
else if (motoshopList){%>
<%  if(!_isXHR){%><%- layout('layout/default') %><% } %>
<%- include toolbar.ejs %><h1><%=_pageH1%></h1>
<%- include list.ejs %>
<%- include ../pages/index.ejs %>
<%}
else if (motoshopLocations){%>
<%  if(!_isXHR){%><%- layout('layout/default') %><% } %>
<%- include toolbar.ejs %><h1><%=_pageH1%></h1>
<%- include locations.ejs %>
<%}%>