<% if(motoshop && (_action =='edit' || _action =='add')){ %>
<%  if(!_isXHR){%><%- layout('layout/default') %><% } %>
<%- include toolbar.ejs %><h1><%=_pageH1%></h1>
<%- include edit.ejs %><%
}
else if (motoshop){%>
<%  if(!_isXHR){%><%- layout('layout/default') %><% } %>
<%- include toolbar.ejs %><h1><%=_pageH1%></h1>
<%- include motoshop.ejs %>
<%}
else if (motoshopList){%>
<%  if(!_isXHR){%><%- layout('layout/default') %><% } %>
<%- include toolbar.ejs %><h1><%=_pageH1%></h1>
<%- include list.ejs %>
<%}%>
<p>Motosaloni</p>
<ol>
	<li>Название *<br>
	<li>описание * (общее описание)</li>
	<li>у мотосалона может быть несколько адресов. и на каждый адрес свой емейл, телефон, веб-сайт (может совпадать)<br>
		структуру в БД похоже лучше делать на деревьях?<br>
		первй уровень - название,<br>
		второй уровень - данные по адресам
		<ol>
			<li>опубликовать|скрыть *</li>
			<li>адрес *</li>
			<li>широта долгота *</li>
			<li>сайт *</li>
			<li>емейл *</li>
			<li>телефоны *</li>
			<li>описание *</li>
			<li>связывать ли с user_id?</li>
		</ol>
	</li>
</ol>