<div class="row">
	<ul class="shopListContainer js-motoshop-list col-xs-12 col-md-12">
		<% motoshopList.forEach(function (shop)
		{
		%><li class="shopItem">
			<h5><a href="<%=[_reqBaseUrl, shop["mts_id"], shop["mts_alias"]].join('/')%>/" target="_blank"><%=shop["mts_name"]%></a></h5>
			<ul class="motoshopAddressList">
				<%
					let addressCnt = shop["address_list"].length;
					addressCnt = (addressCnt > 3 ? 3 : addressCnt);
					let styleWidth = 'width'+(Math.floor(100/addressCnt)-2);

				shop["address_list"].forEach(function (address){ %>
					<li class="motoshopAddress <%=styleWidth%>">
						<div class="motoshopAddressData">
							<div><span class="mts-address-website">сайт:</span> <%=address["mts_address_website"]%></div>
							<div><span class="mts-address">адрес:</span> <%=address["mts_address"]%></div>
							<div><span class="mts-address-email">e-mail:</span> <ul><li><%-(address["mts_address_phones"].split(',')).join('</li><li>')%></li></ul></div>
							<div><span class="mts-address-phones">тел.:</span> <%=address["mts_address_email"]%></div>
						</div>
					</li>
				<% }); %></ul>
		</li>
	<% }); %>
	</ul>
</div>
<script type="text/javascript">
//<!--
(function($)
{

})(jQuery);
//-->
</script>