<%  if(!_isXHR){%><%- layout('layout/default.ejs') %><% } %>
<%- include toolbar.ejs %>
<h1><%=menuItem.m_h1%> на карте</h1>
<div class="row motoshopMapContainer">
	<div class="col-xs-12 col-md-3">
		<div class="mtsLocationsNames _js_mtsLocationsNames open">
			<button class="btn btn-default dropdown-toggle" type="button" id="dropdownLocationsNames"  aria-haspopup="true" aria-expanded="true"><span class="btnText">Регионы</span> <span class="caret"></span></button>
			<ul class=" dropdown-menu" aria-labelledby="dropdownLocationsNames"><% motoshopLocations.forEach(function (item, i, list) {
				let cssLevel = 'locLevel'+item["l_mts_level"];
				%><li class="<%=cssLevel%>">
					<a href="javascript:void(0);" data-coords="<%=[item["l_latitude"], item["l_longitude"]]%>" data-location-id="<%=item["l_id"]%>"><%=item["l_name"]%></a><%
				if (list[i+1] && list[i+1]["l_mts_level"] == 2 && item["l_mts_level"] == 1){%><ul><% } else{%></li><% }
				if (list[i+1] && list[i+1]["l_mts_level"] == 1 && item["l_mts_level"] == 2){%></ul></li><% } %><%
				if (list[i+1] && list[i+1]["l_level"] == 1){ %><li role="separator" class="divider"></li><%}
		});%></ul>
		</div>
	</div>
	<div class="col-xs-12 col-md-9 motoshopMap" id="mtsMap"></div>
</div>
<script src="/js/mcMap.js" type="text/javascript"></script>
<script type="text/javascript">
//<!--
(function($)
{
	var $locNamesBtn = $('#dropdownLocationsNames');
		$locNamesBtn.attr("title", $locNamesBtn.text());
	var $locNamesBtnText =	$locNamesBtn.find(".btnText");

	var motoshopList = MCJS["motoshopList"] || [];
	var motoshopLocations = MCJS["motoshopLocations"] || [];
	var motoshopAddressList = MCJS["motoshopAddressList"] || [];

	var mapState = {
		//controls: ["zoomControl", "searchControl", "typeSelector"]
		controls: ["zoomControl", "typeSelector"]
		, zoom: 10
		, type: 'yandex#hybrid'
		, behaviors: ["default"]
	};
	var mapOptions = {}, mapCluster = {};

	//ключи - id объекта, значения - гео-коллекция точек
	var placeMarkLocations = {};
	var MtsMcMap = new McMap('mtsMap', {state: mapState, options: mapOptions});

	var $mtsLocationsNames = $("._js_mtsLocationsNames");

	MtsMcMap.init()
			.then(function (MtsMap)
			{
				mapCluster = cluster();

				MtsMap.geoObjects.add(mapCluster);

				MtsMap.setBounds(mapCluster.getBounds(),
						{
							checkZoomRange: true
						})
						.then(function ()
						{
							onClickDropdownLocationsNames();
							onClickMttLocationsNames(MtsMap);

							$mtsLocationsNames.show();
						});

				//TODO удалить
				//$mtsLocationsNames.show();
			})
			.fail(function (err)
			{
				console.log(err);
			});

	function getMotoshop(mtsId)
	{
		for(var i = 0; i < motoshopList.length; i++)
		{
			if (motoshopList[i]["mts_id"] == mtsId)
				return motoshopList[i];
		}
		return null;
	}

	/**
	 * создаем гео-точку на основе данных трека
	 * @param addressData - данные по адресу салона
	 */
	function makePlacemark(addressData)
	{
		var coords = [addressData["mts_address_latitude"], addressData["mts_address_longitude"]];
		var motoshop = getMotoshop(addressData["mts_id"]);
		var balloonContentBody = [
			addressData["mts_address"]+'<br/>',
			'<ul><li>'+addressData["mts_address_phones"].split(',').join('</li><li>')+'</li></ul>',
			"широта: " + addressData.mts_address_latitude + " (" + addressData.mts_address_gps_lat + ")"+'<br/>',
			"долгота: " + addressData.mts_address_longitude + " (" + addressData.mts_address_gps_lng + ")"
		];

		return new ymaps.Placemark(coords,
				{
					iconContent: motoshop["mts_name"]
					, iconCaption: motoshop["mts_name"]
					,	balloonContentHeader: motoshop["mts_name"]
					,	balloonContentBody: balloonContentBody.join('')
					,	balloonContentFooter: '<a href="<%=menuItem.m_path%>/'+[motoshop["mts_id"], motoshop["mts_alias"]].join('/')+'/">перейти на страницу мотосалона</a>'
				},
				{
					preset: 'islands#blueDotIconWithCaption'
				}
		);
	}

	/**
	 * создаем объект кластера с предустановленными настройками
	 */
	function makeCluster()
	{
		/**
		 * Создадим кластеризатор, вызвав функцию-конструктор.
		 * Список всех опций доступен в документации.
		 * @see https://api.yandex.ru/maps/doc/jsapi/2.1/ref/reference/Clusterer.xml#constructor-summary
		 */
		return new ymaps.Clusterer({
			/**
			 * Через кластеризатор можно указать только стили кластеров,
			 * стили для меток нужно назначать каждой метке отдельно.
			 * @see https://api.yandex.ru/maps/doc/jsapi/2.1/ref/reference/option.presetStorage.xml
			 */
			preset: 'islands#invertedBlueClusterIcons',
			/**
			 * Ставим true, если хотим кластеризовать только точки с одинаковыми координатами.
			 */
			groupByCoordinates: false,
			/**
			 * Опции кластеров указываем в кластеризаторе с префиксом "cluster".
			 * @see https://api.yandex.ru/maps/doc/jsapi/2.1/ref/reference/ClusterPlacemark.xml
			 */
			clusterDisableClickZoom: true,
			clusterHideIconOnBalloonOpen: false,
			geoObjectHideIconOnBalloonOpen: false
		});
	}

	function cluster()
	{
		var i, tl, placemark, cluster, mts_address_location_pids;
		for(i = 0; i < motoshopAddressList.length; i++)
		{
			placemark = makePlacemark(motoshopAddressList[i]);

			mts_address_location_pids = motoshopAddressList[i]["mts_address_location_pids"].split(',');
			for(tl=0; tl < motoshopLocations.length; tl++)
			{
				if (mts_address_location_pids.indexOf(motoshopLocations[tl]["l_id"]) != -1)
				{
					if (!placeMarkLocations.hasOwnProperty(motoshopLocations[tl]["l_id"]))
						placeMarkLocations[motoshopLocations[tl]["l_id"]] = [];

					placeMarkLocations[motoshopLocations[tl]["l_id"]].push(placemark);
				}
			}
		}

		cluster = makeCluster();

		for(var l_id in placeMarkLocations)
			cluster.add(placeMarkLocations[l_id]);

		return cluster;
	}

	/**
	 * клики по локации в меню (стране или области или городу .. и тп)
	 */
	function onClickMttLocationsNames(MtsMap)
	{
		var $linkName = $mtsLocationsNames.find("a");

		$linkName.on('click', function (event)
		{
			event.preventDefault();
			var self = this;
			var $parent = $(self).parents('li');

			$mtsLocationsNames.find('li').removeClass('selected');
			$mtsLocationsNames.find(".locLevel1 ul").hide();

			$parent.addClass('selected');

			if ($parent.find('ul').length)
				$parent.find('ul').show();

			var coords = $(self).data("coords").split(',');
			var l_id = $(self).data("locationId");

			var bounds =  getLocationPointsCoords(l_id)||[];

			var cnt = bounds.length;
				bounds.push(coords);

			//var centerAndZoom = ymaps.util.bounds.getCenterAndZoom(bounds, MtsMap.container.getSize());
				bounds =  ymaps.util.bounds.fromPoints(bounds);
			var center = ymaps.util.bounds.getCenter(bounds);
			//var center = (cnt > 1 ? ymaps.util.bounds.getCenter(bounds) : bounds[0]);

			MtsMap.setBounds(bounds, {checkZoomRange: false})
					.then(function ()
					{
						MtsMap.setCenter(center, MtsMap.getZoom()-1, {checkZoomRange: false});
						$locNamesBtn.click();
						$locNamesBtnText.text($(self).text());
					})
					.fail(function (err)
					{
						console.log(err);
					});
		});
	}

	/**
	 * получаем массив точек для указанной локации (сатрны, области, города и тп)
	 * @param l_id
	 * @returns {Array}
	 */
	function getLocationPointsCoords(l_id)
	{
		var listOfCoords = [];
		for (var i in placeMarkLocations[l_id])
		{
			if (!placeMarkLocations[l_id].hasOwnProperty(i))
				continue;

			listOfCoords.push(placeMarkLocations[l_id][i]["geometry"].getCoordinates());
		}

		return listOfCoords;
	}

	function onClickDropdownLocationsNames()
	{
		$locNamesBtn.click(function (event)
		{
			event.preventDefault();
			$(this).parent().find('.dropdown-menu').toggle();
			//console.log(this);
		});
	}
})(jQuery);
//-->
</script>