<%  if(!_isXHR){%><%- layout('layout/default') %><% } %>
<%- include toolbar.ejs %>
<h1><%=_pageH1%></h1>
<% if(news && ['edit', 'add'].indexOf(_action) != -1){ %><%- include edit.ejs %><% }
else if (news){%><%- include news.ejs %><%}
else if (newsList){%>
<%- include list.ejs %>
<%- include ../pages/index.ejs %>
<script type="text/javascript">
	//<!--
	//console.log(MCJS);

	if (MCJS['pages'] && Pagination)
	{
		MCJS['pages']['ajaxDataSrc'] = ['newsList'];
		MCJS['pages']['ajaxDataTarget'] = 'newsList';
		MCJS['pages']['jQuerySelector'] = '.newsListContainer .newsListItem';

		Pagination.init();
	}
	//console.log(Pagination);
	//-->
</script>
<%} %>