<div class="row">
	<div class="notice-container"><%
newsList.forEach(function (nItem)
{
	let hasImg = (!!nItem["previews"]["512_384"]);
	let imgSrc = (hasImg ? nItem["previews"]["512_384"] : '/_0.gif');
	%><div class="notice-item" style="background-image: url('<%=imgSrc%>');">
			<a class="notice-item-info" href="<%=[_reqBaseUrl, nItem["n_id"], nItem["n_alias"]].join('/')%>/">
				<div class="notice-item-info-date"><i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;<%=nItem["dt_show_ts"]%></div>
				<div class="notice-item-info-text"><p><%=nItem["n_title"]%></p><p><%-nItem["n_notice"]%></p></div>
			</a>
	</div><%
}); %></div>
</div>
<%- include ../pages/index.ejs %>
<script type="text/javascript">
//<!--
if (MCJS['pages'] && Pagination)
{
	MCJS['pages']['ajaxDataSrc'] = ['newsList'];
	MCJS['pages']['ajaxDataTarget'] = 'newsList';
	MCJS['pages']['jQuerySelector'] = '.notice-container .notice-item';
	
	Pagination.init();
}
//-->
</script>