<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title><%= title %></title>
</head>
<body>
<p><img src="<%=links%>/img/logo.png" alt="www.MotoCommunity.r" /></p>
<p>Для завершения смены e-mail адреса на сайте <a href="<%= links %>" target="_blank" style="color: #FF0000;">www.MotoCommunity.ru</a> перейдите по <a href="<%=links%>/profile/change/mail/<%=key%>" target="_blank" style="color: #FF0000;">ссылке</a>.</p>
</body>
</html>
