<%  if(!_isXHR){%><%- layout('layout/user/index') %><% } %>
<ol class="breadcrumb">
    <li><a href="<%=menuItem.m_path%>/"><%=menuItem.m_name%></a></li>
    <li><a href="<%=(menuItem.m_path+'/'+user.u_id+'/')%>"><%=user.u_display_name%></a></li>
</ol>
<div class="userProfile">
    <ul>
        <li>логин <%=user.u_login%><% if (user.u_name || user.u_surname) {%>&nbsp;(<%=[user.u_name, user.u_surname].join(' ')%>)<% }%></li>
        <li>пол <%=user.u_sex_name%></li>
        <li>населенный пункт <%=user.l_name%> u_location_id = <%=user.u_location_id%></li>
        <li>день рождения <%=user.bd_birthday%></li>
        <li>мотоцикл CBR1000RA</li>
        <li>интересы: ...</li>
    </ul><%
    if (photoAlbums && photoAlbums["a_cnt"]>0){
    %><div class="mediaWrapper blocks">
        <h4><a href="<%=(_reqBaseUrl+'/photo/'+user["u_id"])%>/"><span class="badge"><i class="fa fa-fw fa-camera"></i> <%=photoAlbums["a_cnt"]%></span> Фотографии</a></h4>
        <div class="mediaList"><%
            photoAlbums.forEach(function (album)
            {
                let img = '';
                if(album["previews"]["512_384"])
                {
                    img = '<img src="'+album["previews"]["512_384"]+'" alt="'+album["a_name"]+'"/>';
                }else{
                    img = '<img src="/img/no_image.png" alt="'+album["a_name"]+'" class="noImg"/>';
                }
            %><div class="media">
                <a class="mediaImg" href="<%=[_reqBaseUrl,'photo',album["u_id"],album["a_id"]].join('/')%>/"><%-img%></a>
                <div class="mediaTools">
                    <span class="badge"><i class="fa fa-fw fa-camera"></i> <%=album["a_img_cnt"]%></span>
                </div>
                <div class="mediaTitle">
                    <div class="mediaName"><%=album["a_name"]%></div>
                    <% if (album["a_text"]){%><div class="mediaText"><%=album["a_text"]%></div><%}%>
                </div>
            </div><%
            })%>
        </div>
    </div><%
    } if (videoAlbums && videoAlbums["va_cnt"]>0){
    %><div class="mediaWrapper blocks">
        <h4><a href="<%=(_reqBaseUrl+'/video/'+user["u_id"])%>/"><span class="badge"><i class="fa fa-fw fa-video-camera"></i> <%=videoAlbums["va_cnt"]%></span> Видео</a></h4>
        <div class="mediaList"><%
            videoAlbums.forEach(function (album)
            {
                let img = '';
                if(album["v_img"])
                    img = '<img src="'+album['v_img']+'" alt="'+album['va_name']+'"/>';
                else
                    img = '<img src="/img/no_image.png" alt="'+album['va_name']+'" class="noImg"/>';
            %><div class="media">
                <a class="mediaImg" href="<%=[_reqBaseUrl,'video',album["u_id"],album["va_id"],album["va_alias"]].join('/')%>/"><%-img%></a>
                <div class="mediaTools">
                    <span class="badge"><i class="fa fa-fw fa-video-camera"></i> <%=album["va_cnt"]%></span>
                </div>
                <div class="mediaTitle">
                    <div class="mediaName"><%=album["va_name"]%></div>
                    <% if (album["va_text"]){%><div class="mediaText"><%=album["va_text"]%></div><%}%>
                </div>
            </div><%
            })%>
        </div>
    </div><%
    } if (blogList && blogList.length>0){
        let blogBaseUri = [_reqBaseUrl,'blog',user["u_id"]].join('/');
    %><div class="blocks">
        <h4><a href="<%=blogBaseUri%>/"><i class="fa fa-fw fa-pencil"></i> Блог</a></h4>
        <div class="blogListContainer"><%
            blogList.forEach(function (blog)
            {
                let img = '';
                if(blog["previews"]["512_384"])
                    img = '<img src="'+blog["previews"]["512_384"]+'" alt="'+blog["b_title"]+'"/>';
            %>
            <div class="blogListItem">
                <a class="blogListItemInfo" href="<%=[blogBaseUri, blog["b_id"], blog["b_alias"]].join('/')%>/">
                    <%-img%>
                    <div class="blogListItemInfoNotice">
                        <span class="text-center displayInlineBlock width100"><i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;<%=blog["dt_create_ts"]%></span>
                        <p><%=blog["b_title"]%></p><p><%=blog["b_notice"]%></p>
                    </div>
                </a>
            </div><%
            })%>
        </div>
    </div>
    <% } %>
</div>