<%  if(!_isXHR){%><%- layout('layout/user/index') %><% } %>
<ol class="breadcrumb">
    <li><a href="<%=menuItem.m_path%>/"><%=menuItem.m_name%></a></li>
    <li><a href="<%=(menuItem.m_path+'/'+user.u_id+'/')%>"><%=user.u_display_name%></a></li>
</ol>
<div class="userProfile">
    <ul>
        <li>логин <%=user.u_display_name%></li>
        <li>пол <%=user.u_sex_name%></li>
        <li>населенный пункт <span data-toggle="tooltip" title="<%= user.l_full_name%>" data-container="body" data-placement="auto"><i class="fa fa-map-marker fa-fw" aria-hidden="true"></i> <%= user.l_name%></span></li>
        <li>день рождения <%=user.bd_birthday%></li>
    </ul><%
    if (photoAlbums && photoAlbums["a_cnt"]>0){
    %><div class="mediaWrapper blocks">
        <h4><a href="<%=(_reqBaseUrl+'/photo/'+user["u_id"])%>/"><span class="badge"><i class="fa fa-fw fa-camera"></i> <%=photoAlbums["a_cnt"]%></span> Фотографии</a></h4>
        <div class="mediaList"><%
            photoAlbums.forEach(function (album)
            {
                let img = '';
                if(album["previews"]["512_384"])
                {
                    img = '<img src="'+album["previews"]["512_384"]+'" alt="'+album["a_name"]+'"/>';
                }else{
                    img = '<img src="/img/no_image.png" alt="'+album["a_name"]+'" class="noImg"/>';
                }
                let albumHref = [_reqBaseUrl,album["u_id"],album["a_id"]].join('/')+'/';
            %><div class="media">
                <a class="mediaImg" href="<%=[_reqBaseUrl,'photo',album["u_id"],album["a_id"]].join('/')%>/"><%-img%></a>
                <div class="mediaTools">
                    <span class="badge"><i class="fa fa-fw fa-camera"></i> <%=(album["file_cnt"] > 99 ? '99+':album["file_cnt"])%>&nbsp;<i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;<%=album["dt_create_ts"]%></span>
                </div>
                <a class="mediaTitle" href="<%=albumHref%>" title="<%=album["a_name"]%>">
                    <div class="mediaName"><%=album["a_name"]%></div>
                    <% if (album["a_text"]){%><div class="mediaText"><%=album["a_text"]%></div><%}%>
                </a>
            </div><%
            })%>
        </div>
    </div><%
    }
    if (videoAlbums && videoAlbums["va_cnt"]>0)
    {
    %><div class="mediaWrapper blocks">
        <h4><a href="<%=(_reqBaseUrl+'/video/'+user["u_id"])%>/"><span class="badge"><i class="fa fa-fw fa-video-camera"></i> <%=videoAlbums["va_cnt"]%></span> Видео</a></h4>
        <div class="mediaList"><%
            videoAlbums.forEach(function (album)
            {
                let img = '';
                if(album["v_img"])
                    img = '<img src="'+album['v_img']+'" alt="'+album['va_name']+'"/>';
                else
                    img = '<img src="/img/no_image.png" alt="'+album['va_name']+'" class="noImg"/>';
            %><div class="media">
                <a class="mediaImg" href="<%=[_reqBaseUrl,'video',album["u_id"],album["va_id"],album["va_alias"]].join('/')%>/"><%-img%></a>
                <div class="mediaTools">
                    <span class="badge"><i class="fa fa-fw fa-video-camera"></i> <%=(album["va_cnt"] > 99 ? '99+':album["va_cnt"])%>&nbsp;<i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;<%=album["dt_create_ts"]%></span>
                </div>
                <a class="mediaTitle" href="<%=[_reqBaseUrl,'video',album["u_id"],album["va_id"],album["va_alias"]].join('/')%>/">
                    <div class="mediaName"><%=album["va_name"]%></div>
                    <% if (album["va_text"]){%><div class="mediaText"><%=album["va_text"]%></div><%}%>
                </a>
            </div><%
            })%>
        </div>
    </div><%
    }
    if (blogList && blogList.length>0)
    {
        let blogBaseUri = [_reqBaseUrl,'blog',user["u_id"]].join('/');
    %><div class="blocks">
        <h4><a href="<%=blogBaseUri%>/"><i class="fa fa-fw fa-pencil"></i> Блог</a></h4>
        <div class="notice-container blog-container"><%
            blogList.forEach(function (bItem)
            {
                let hasImg = (!!bItem["previews"]["512_384"]);
                let imgSrc = (hasImg ? bItem["previews"]["512_384"] : '/_0.gif');
            %>
            <div class="notice-item blog-item" style="background-image: url('<%=imgSrc%>');">
                <div class="blog-item-subject"><a href="<%=['subj', bItem["bs_id"], bItem["bs_alias"]].join('/')%>/"><%=bItem["bs_name"]%></a></div>
                <a class="notice-item-info blog-item-info" href="<%=[blogBaseUri, bItem["b_id"], bItem["b_alias"]].join('/')%>/" title="<%=bItem["b_title"]%>">
                    <div class="notice-item-info-date"><i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;<%=bItem["dt_create_ts"]%></div>
                    <div class="notice-item-info-text"><p><%=bItem["b_title"]%></p><p><%-bItem["b_notice"]%></p></div>
                </a>
            </div><%
            })%>
        </div>
    </div>
    <% } %>
</div>